<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:dgt="http://www.trafico.es/taglib"
	xmlns:t="http://myfaces.apache.org/tomahawk">
	<!-- Cabecera de todas las paginas de la aplicacion. Incluye las migas, titulo de la pagina y titulo en blanco -->
		<div id="Trazabilidad">
			<div>
				<label class="user"><h:outputText value="#{loginBean.username}"></h:outputText></label>
				<label class="estaen separador">#{msg.comunes_migas_ini}</label>
				<label>	#{tramite} </label>
				<label class="separador"></label>
				<label> >	#{consultaTitulo}  	</label>
			</div>
		</div>
		<br />
		<div id="FormularioTitulo">
			<label>	#{consultaTitulo}</label>
		</div>
		<div id="mensajes">
				<h:messages warnClass="alert alert-warning"
					fatalClass="alert alert-danger" infoClass="alert alert-success"
					errorClass="alert alert-danger" />
			</div>
	
</ui:composition>