<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="/soloandamios/css/estilosMenu.css" />
	<link rel="stylesheet" type="text/css" href="/soloandamios/css/estilosComObl.css" />
	<link rel="stylesheet" type="text/css" href="/soloandamios/css/estilosComOpc.css" />
	<link rel="stylesheet" type="text/css" href="/soloandamios/css/estiloPropio.css" />
	<!--  		<link rel="stylesheet" type="text/css" href="/soloandamios/css/bootstrap.min.css" />  -->
	<!-- DatePicker JavaScript & CSS -->
	<!-- 		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" /> -->
	<!-- 		<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js" /> -->
	<!-- 		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" /> -->

	<link rel="stylesheet" href="/soloandamios/css/jquery-ui.css" />
	<script type="text/javascript" src="/soloandamios/js/jquery-1.12.4.js" />
	<script type="text/javascript" src="/soloandamios/js/jquery-ui.js" />
	<script type="text/javascript" src="/soloandamios/js/formatDatePicker.js"></script>
	<script type="text/javascript" src="/soloandamios/js/utilidades.js"></script>
	<!--  https://examples.javacodegeeks.com/enterprise-java/jsf/jsf-datepicker-example/ -->
	<title>Solo Andamios SAS.</title>
</h:head>
<h:body>
<f:view locale="#{language.locale}"></f:view>
	<div>
		<h:form>
			<ui:include src="menu.jsp" />
		</h:form>
	</div>
	<h:form id="formId">
		<div id="contenido">
			<ui:insert name="contenido">
                	 Pagina de inicio de la aplicación
     				<h1>JSF 2.0 + Spring + JPA Example</h1>
			</ui:insert>
		</div>
	</h:form>
</h:body>
</html>