<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="/soloandamios/css/estilosLogin.css" />
	<link rel="stylesheet" type="text/css" href="/soloandamios/css/estiloPropio.css" />
	<title>Solo Andamios tu alquiler al instante</title>
</h:head>
<h:body>
	<f:loadBundle basename="ficherosConfiguracion.mensajes" var="msg" />
	<h:form>
		<div class="imgcontainer">
			<h:graphicImage styleClass="align:center" value="/images/logo.png"
				height="200" width="200"></h:graphicImage>
		</div>

		<div class="container">
			<label for="uname"><b>#{msg.usuario} </b></label>
			<h:inputText pt:placeholder="USUARIO" id="username" value="#{loginBean.username}"></h:inputText>

			<label for="psw"><b>#{msg.clave}</b></label>
			<h:inputSecret pt:placeholder="CONTRASENA" id="clave" value="#{loginBean.password}" />

			<h:commandButton styleClass="submit_login_form" value="Entrar"
				action="#{loginBean.doLogin}"></h:commandButton>
			<h:selectBooleanCheckbox value="#{loginBean.checkBox}" />
			<h:outputText value="Remember me" />
			<div id="mensajes">
				<h:messages warnClass="alert alert-warning"
					fatalClass="alert alert-danger" infoClass="alert alert-success"
					errorClass="alert alert-danger" />
			</div>
		</div>


	</h:form>
</h:body>
</html>