form {
    display: block;
    margin-top: 0em !important;
    margin-block-end: 0em;
    
}
 
.menu_bar {
	display:none;
}
 
 ul {
	list-style:none;
    margin-top: 0rem;
    margin-bottom: auto;
}
 
  ul li {
	display:inline-block;
	position: relative;
}
 
/*   ul li:hover { */
/* 	background:#E6344A; */
/* } */
 
  ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 6px;
}
 
  ul li a span {
	margin-right:10px;
}
 
  ul li:hover .children {
	display:block;
}
 
  ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}
 
  ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
  ul li .children li a {
	display: block;
}
 
  ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

.alinear {
	margin-left: 2rem;
}
 
.caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

.iconoMenu {
    width: 19px;
    display: block;
	margin-left: auto;
	margin-right: auto;
}
 
@media screen and (max-width: 3800px) {
	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#E6344A;
	}
 
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
 
	.menu_bar span {
		float: right;
		font-size: 40px;
	}
 
	  {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}
 
	  ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
 
	  ul li a {
		display: block;
	}
 
	  ul li:hover .children {
		display: none;
	}
 
	  ul li .children {
		width: 100%;
		position: relative;
	}
 
	  ul li .children li a {
		margin-left:20px;
	}
 
	  ul li .caret {
		float: right;
	}
}