
body {
    font-family: "Segoe UI", sans-serif;
    font-size:100%;
    margin: 0;
    width: 100%;
    display: block;
}

/******************
	MENU LATERAL
******************/
.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 1;
    background-color: #00324b;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 2rem 0;
    box-sizing:border-box;
    margin-top: -53px;
    font-variant: all-small-caps;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
/*     margin: 4rem auto; */
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: #eee;
    text-decoration: none;
    
}

.sidebar a:hover{
    color:#fff;
    background-color: #f90;

}

h1 {
    color:#f90;
    font-size:180%;
    font-weight:normal;
}
label[for="abrir-cerrar"] {
    cursor:pointer;
/*     padding: 1rem; */
    color:#fff;
    width:100%;
    margin: 0;
}

#labelMenu {
    transition: margin-left .4s;
    padding-top: 1rem;
    paddding-left:1rem;
    padding-bottom:1rem;
    background-color: #333;
    top: 0;
}

.abrir-cerrar {
    color: #2E88C7;
    font-size:1rem;  
    margin-left:1rem; 
}

#abrir {
     display:inline;
}
#cerrar {
    display:none;
}

.hora {
    color:#fff;
    float: right;
    font-size: small;
    margin-right:1rem;
}
#contenido {
    transition: margin-left .4s;
    padding: 1rem;
    padding-top: 1rem;
}

.ttlAgrupacion {
    color: #787875;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 18px;
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
}

.fondoGris{
	background-color: #eaeaea;
}

.sizeInput75{
	width:75%
}
.sizeInput90{
	width:90%
}
.sizeInput100{
	width:100%
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea,inputSecret{
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the submit button */
input[type=submit] {
  background-color: #52627b;
  color: white;
  padding: 7px 20px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  margin-right: 2px;
}

/* Style the submit button */
.marginLeft {
margin-left: 7px;
}

/* Style the submit button */
.imprimir {
  background-color: #52627b;
  color: white;
  padding: 6px 20px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  font-size: small;
  font-weight: lighter;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-5 {
  float: left;
  width: 5%;
  margin-top: 6px;
}

.col-10 {
  float: left;
  width: 10%;
  margin-top: 6px;
}

.col-15 {
  float: left;
  width: 15%;
  margin-top: 6px;
}

.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-30 {
  float: left;
  width: 30%;
  margin-top: 6px;
}
.col-30fecha {
  float: left;
  width: 30%;
  margin-top: 6px;
}
.col-35 {
  float: left;
  width: 35%;
  margin-top: 6px;
}

.col-40 {
  float: left;
  width: 40%;
  margin-top: 6px;
}

.col-45 {
  float: left;
  width: 45%;
  margin-top: 6px;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.col-100 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.tituloListado {
	TEXT-ALIGN: left; 
	LINE-HEIGHT: 18px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	COLOR: #787875; 
	FONT-SIZE: 12px; 
	VERTICAL-ALIGN: middle;
	font-weight: bold;
	margin-top: 10px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.fondo_login_form{
	width: 100%;
    margin-top: 0;
	}
  .col-5 {
    width: 20%;
    margin-top: 0;
  }
  .col-10 {
    width: 20%;
    margin-top: 0;
  }
  .col-20 {
    width: 100%;
    margin-top: 0;
  }
  .col-20fecha {
   float: left;
   width: 15%;
   margin-top: 6px;
  }
  .col-25 {
    width: 100%;
    margin-top: 0;
  }
  .col-30 {
	  float: left;
	  width: 100%;
	  margin-top: 6px;
   }  
  .col-45 {
    width: 100%;
    margin-top: 0;
  }
  .col-40 {
    width: 100%;
    margin-top: 0;
  }
  .col-50 {
    width: 100%;
    margin-top: 0;
  }
  
  .sizeInput75{
	width:100%
	}
}
