<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="../plantillas/plantillaBase.xhtml">


	<ui:define name="contenido">
		<ui:include src="../plantillas/cabeceraPaginas.xhtml">
			<ui:param name="tramite" value="#{msg.configuracion}" />
			<ui:param name="consultaTitulo" value="#{msg.restablecer_contrasena}" />
		</ui:include>
		<div class="contenedor">
		<f:event listener="#{loginBean.validatePassword}" type="postValidate" />
			<div class="row">
				<div class="col-50">
					<div class="row">
						<div class="col-20">
							<label for="oldpassword" class="lblFormularios">#{msg.contrasena_actual}:</label>
						</div>
						<div class="col-75">
							<h:inputSecret autocomplete="off" id="oldpassword"
								value="#{loginBean.password}" styleClass="sizeInput100"></h:inputSecret>
						</div>
						<div class="col-20">
							<label for="newclave" class="lblFormularios">#{msg.contrasena_nueva}:</label>
						</div>
						<div class="col-75">
							<h:inputSecret autocomplete="off" id="newclave"
								value="#{loginBean.newPassword}" styleClass="sizeInput100"></h:inputSecret>
								<h:message for="newclave" style="color: red;" />
						</div>
						<div class="col-20">
							<label for="confirmarClave" class="lblFormularios">#{msg.contrasena_comprobar}:</label>
						</div>
						<div class="col-75">
							<h:inputSecret autocomplete="off" id="confirmarClave"
								value="#{loginBean.confirmarPassword}" styleClass="sizeInput100"></h:inputSecret>
								<h:message for="confirmarClave" style="color: red;" />
						</div>
					</div>
					<div class="row">
						<div class="col-100">
							<h:commandButton value="Cambiar" action="#{loginBean.actualizarContrasena}"></h:commandButton>
							<h:commandButton value="Cancelar" action="#{mbeanObra.limpiarFormulario}" />
						</div>
					</div>

				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>
