<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="../plantillas/plantillaBase.xhtml">


	<ui:define name="contenido">
		<ui:include src="../plantillas/cabeceraPaginas.xhtml">
			<ui:param name="tramite" value="#{msg.configuracion}" />
			<ui:param name="consultaTitulo" value="#{msg.cambiar_idioma}" />
		</ui:include>
		<div class="contenedor">
			<div class="row">
				<h:commandLink styleClass="flag us" action="#{language.changeLanguage('us')}" value="English" />
				<h:commandLink styleClass="flag spain" action="#{language.changeLanguage('es')}" value="Español" />
			</div>
			
		</div>
	</ui:define>

</ui:composition>
