<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:dgt="http://www.trafico.es/taglib"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="contenido">
    
    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
		<ui:param name="tramite" value="Mantenimiento" />
		<ui:param name="consultaTitulo" value="Clientes" />
	</ui:include>
	<t:saveState value="#{mbeanCliente.listaCliente}" id="IdSaveClienteSeleccionado" />
	<t:saveState value="#{mbeanCliente.editable}" id="IdSaveClienteEditable" />
	<t:saveState value="#{mbeanCliente.listaTipoDocumento}" id="IdSavelistaTipoDocumento" />
	<t:saveState value="#{mbeanCliente.listaCiudad}" id="IdSavelistaCiudad" />
	<t:saveState value="#{mbeanCliente.iCliente}" id="IdSaveiCliente" />

	
	<div class="contenedor"> 
		<div class="row">
			 <div class="col-50">
				 <div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.documento}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="documento" styleClass="sizeInput100 mayusculas" value="#{mbeanCliente.iCliente.id_cliente}"></h:inputText>	
 					</div>
 				</div>
 				 <div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.tipo_documento}:</label></div>
				 	<div class="col-75"> 
 						<t:selectOneMenu
								id="comboTipoDocumento" readonly="false" forceId="true"
								value="#{mbeanCliente.iCliente.tipoDocumentoSelect}"
								styleClass="sizeInput100 mayusculas" >
							<f:selectItem  id="selectTipoDocumento" itemValue="Seleccionar" itemLabel="Seleccionar" />
							<t:selectItems id="selectTipoDocumento1"
											value="#{mbeanCliente.listaTipoDocumento}" var="tipoDoc"
											itemLabel="#{tipoDoc.descripcion}"
											itemValue="-#{tipoDoc.idTipoDocumento}">
							</t:selectItems>
					</t:selectOneMenu>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.razon_social}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="razon_social" value="#{mbeanCliente.iCliente.razon_social}" styleClass="sizeInput100 mayusculas"></h:inputText>
 					<h:message for="razon_social" style="color:red" />
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.direccion}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="direccion" value="#{mbeanCliente.iCliente.direccion}" styleClass="sizeInput100 mayusculas"></h:inputText>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.ciudad}:</label></div>
				 	<div class="col-75"> 
 						<t:selectOneMenu
								id="comboCiudad" readonly="false" forceId="true" value="#{mbeanCliente.iCliente.ciudadSelect}"
								styleClass="sizeInput100 mayusculas">
							<f:selectItem  id="selectCiudad" itemValue="Seleccionar" itemLabel="Seleccionar" />
							<t:selectItems id="selectCiudad1"
											value="#{mbeanCliente.listaCiudad}" var="ciudad"
											itemLabel="#{ciudad.nombre_ciudad}"
											itemValue="-#{ciudad.codigo_ciudad}">
							</t:selectItems>
					</t:selectOneMenu>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.telefono}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="telefono" styleClass="sizeInput100 mayusculas" value="#{mbeanCliente.iCliente.telefono}"></h:inputText>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.celular}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="celular" styleClass="sizeInput100 mayusculas" value="#{mbeanCliente.iCliente.celular}"></h:inputText>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.email}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="email" value="#{mbeanCliente.iCliente.email}" styleClass="sizeInput100 mayusculas"></h:inputText>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.habilitado}:</label></div>
				 	<div class="col-75"> 
 						<h:selectBooleanCheckbox value="#{mbeanCliente.iCliente.enabled}"/>
 					</div>
 				</div>
 			</div>	
 		</div>			
 			
 			<div class="row"> 
					<div class="col-100">
 					<h:commandButton value="Nuevo" action="#{mbeanCliente.guardarCliente}" rendered="#{!mbeanCliente.editable}"/> 
 					<h:commandButton value="Modificar" action="#{mbeanCliente.editarCliente}" rendered="#{mbeanCliente.editable}"/> 
 					<h:commandButton value="Cancelar" action="#{mbeanCliente.limpiarFormulario}"/>  
 				</div>
 			</div>
 			
 		<div class="row">
		 	<div class="col-100"> <label class="ttlAgrupacion">#{msg.filtro}:</label></div>
		</div>
		<div class="row">
		 	<div class="col-100"> <label class="lblFormularios">#{msg.razon_social}</label>
				<h:inputText id="findcliente" autocomplete="off" value="#{mbeanCliente.findcliente}">
				<f:ajax event="keyup" render="tableid" listener="#{mbeanCliente.obtenerClientesByRazonSocial}" />
				</h:inputText>
			</div>
		</div>	
 		<div class="tituloListado ">#{msg.listadoCliente}</div>
 		<div style="overflow-x:auto;">
 		<t:dataTable id="tableid" value="#{mbeanCliente.listaCliente}"
			        var="cliente" rows="10" rowIndexVar="rowIndex"
			        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.documento}"></h:outputText>
			            </f:facet>
			            <h:outputLabel styleClass="formularioLabelCampo" value="#{cliente.id_cliente}"></h:outputLabel>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText class="formularioLabelCampo" value="#{msg.razon_social}"></h:outputText>
			            </f:facet>
			            <h:inputText value="#{cliente.razon_social}" size="10" rendered="#{cliente.editable}" />
    				    <h:outputText styleClass="formularioLabelCampo" value="#{cliente.razon_social}" rendered="#{not cliente.editable}" />
			        </h:column>
			         <h:column>
			            <f:facet name="header">
			                <h:outputText class="formularioLabelCampo" value="#{msg.direccion}"></h:outputText>
			            </f:facet>
			            <h:inputText value="#{cliente.direccion}" size="10" rendered="#{cliente.editable}" />
    				    <h:outputText styleClass="formularioLabelCampo" value="#{cliente.direccion}" rendered="#{not cliente.editable}" />
			        </h:column>
			        
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.celular}"></h:outputText>
			            </f:facet>
			            <h:inputText value="#{cliente.celular}" size="10" rendered="#{cliente.editable}" />
    				    <h:outputText value="#{cliente.celular}" rendered="#{not cliente.editable}" />
			        </h:column>
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.telefono}"></h:outputText>
			            </f:facet>
			            <h:inputText value="#{cliente.telefono}" size="10" rendered="#{cliente.editable}" />
    				    <h:outputText value="#{cliente.telefono}" rendered="#{not cliente.editable}" />
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.habilitado}"></h:outputText>
			            </f:facet>
			             <h:selectBooleanCheckbox value="#{cliente.enabled}"  rendered="#{cliente.editable}" />
    				     <h:selectBooleanCheckbox readonly="#{not cliente.editable}" value="#{cliente.enabled}" rendered="#{not cliente.editable}" />
			        </h:column>
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.borrar}"></h:outputText>
			            </f:facet>
			            <h:commandLink action="#{mbeanCliente.deleteAction(cliente)}" value="" onclick="if(!confirm('#{msg.confirmarborrar} #{cliente.razon_social}?'))
						return false"><h:graphicImage url="/images/iconos/eliminar.png" styleClass="actioneditar" /></h:commandLink>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.editar}"></h:outputText>
			            </f:facet>
			            <h:commandLink action="#{mbeanCliente.editarAction(cliente)}" value="" rendered="#{not cliente.editable}" > <h:graphicImage url="/images/iconos/lapiz.png" styleClass="actioneditar" /></h:commandLink>
			             <h:commandLink action="#{mbeanCliente.cancelarEditarAction(cliente)}" value="cancelar" rendered="#{cliente.editable}" > </h:commandLink>
			            </h:column>
			</t:dataTable>
			</div>
	</div>
        	
    </ui:define>
 
</ui:composition>
