<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:dgt="http://www.trafico.es/taglib"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
    
	    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
			<ui:param name="tramite" value="Inicio" />
			<ui:param name="consultaTitulo" value="Consulta de Factura" />
		</ui:include>
		
		<t:saveState value="#{mbeanFacturaConsulta.consultaBean.listaFactura}" id="savelistaFactura"></t:saveState>
		<t:saveState value="#{mbeanFacturaConsulta.consultaBean}" id="saveconsultaBean"></t:saveState>
		<t:saveState value="#{mbeanFacturaConsulta.listaCliente}" id="savelistaCliente"></t:saveState>
		
		
		<div class="contenedor"> 
			<div class="ttlAgrupacion"> #{msg.filtroBusqueda}:
			 	<table>
			 		<tr>
			 			<td>
							<span class="lblFormularios">#{msg.factura}</span>
						</td>
						<td colspan="3">
							<span><h:inputText id="idfactura" styleClass="lblFormularios" value="#{mbeanFacturaConsulta.consultaBean.idFactura}"></h:inputText></span>
						</td>
					</tr>
			 		<tr>
						<td>
							<span class="lblFormularios">#{msg.cliente}</span>
						</td>
						<td colspan="3">
							<t:selectOneMenu
										id="comboTipoCliente" forceId="true"
										value="#{mbeanFacturaConsulta.clienteSelect}"
										styleClass="sizeInput mayusculas">
									<f:selectItem  id="selectCliente" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true" />
									<t:selectItems id="selectCliente1"
													value="#{mbeanFacturaConsulta.listaCliente}" var="c"
													itemLabel="#{c.razon_social}"
													itemValue="#{c.id_cliente}">
									</t:selectItems>
							</t:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
							<span class="lblFormularios">#{msg.fecha_inicial}</span>
						</td>
						<td>
							<h:inputText id="fechainicial" value="#{mbeanFacturaConsulta.consultaBean.fechaInicial}" 
								converterMessage="La fecha debe ser en el formato dd/mm/yyyy" autocomplete="off" styleClass="inputFechaFormulario datepicker">  					
								<f:convertDateTime pattern="dd/MM/yyyy" /> 
							</h:inputText>
						</td>
						<td>
							<span class="lblFormularios">#{msg.fecha_final}</span>
							<h:inputText id="fechafinal" value="#{mbeanFacturaConsulta.consultaBean.fechaFinal}" 
								converterMessage="La fecha debe ser en el formato dd/mm/yyyy" autocomplete="off" styleClass="inputFechaFormulario datepicker">  					
								<f:convertDateTime pattern="dd/MM/yyyy" /> 
							</h:inputText>
						</td>
					</tr>
				</table>
				<div>
				<h:commandButton value="#{msg.btn_buscar}" action="#{mbeanFacturaConsulta.buscarFacturas}" ajax="false"></h:commandButton>
				</div>
			</div>
			<div class="tituloListado">#{msg.listadoFactura}</div>
			<div style="overflow-x:auto;">
		 		<t:dataTable id="tableid" value="#{mbeanFacturaConsulta.consultaBean.listaFactura}"
					        var="factura" rows="10" rowIndexVar="rowIndex"
					        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.factura}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{factura.idFactura}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText class="formularioLabelCampo" value="#{msg.cliente}"></h:outputText>
				            </f:facet>
				            <h:outputLabel styleClass="formularioLabelCampo" value="#{factura.iclienteBean.razon_social}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.iva}"></h:outputText>
				            </f:facet>
				            <h:outputLabel styleClass="formularioLabelCampoDerecha" value="#{factura.iva}">
				            	<f:convertNumber locale="es_CO" currencySymbol="$" type="currency" minFractionDigits="0"/>
				            </h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.total}"></h:outputText>
				            </f:facet>
				            <h:outputLabel styleClass="formularioLabelCampoDerecha" value="#{factura.total}">
				            	<f:convertNumber locale="es_CO" currencySymbol="$" type="currency" minFractionDigits="0"/>
				            </h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.fecha}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{factura.fecha_factura}"><f:convertDateTime pattern="dd/MM/yyyy" /> </h:outputLabel>
				        </h:column>
				        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.estado}"></h:outputText>
			            </f:facet>
			            	 <h:outputLabel value="EMITIDA" rendered="#{factura.estado}"> </h:outputLabel>
			            	<h:outputLabel value="ANULADA" rendered="#{not factura.estado}"> </h:outputLabel>
			       		 </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.ver}"></h:outputText>
				            </f:facet>
				            <h:commandLink styleClass="actioneditar" action="#{mbeanFactura.verFactura(factura)}" > 
				           		 <h:graphicImage alt="Editar" url="/images/iconos/ojo.png" styleClass="actioneditar" />
				            </h:commandLink>
				        </h:column>
				           <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.imprimir}"></h:outputText>
				            </f:facet>
				            <h:commandLink target="_blank" styleClass="actioneditar" action="#{mbeanFactura.imprimir(factura)}" > 
				           		 <h:graphicImage alt="Factura" url="/images/iconos/pdf.png" styleClass="actioneditar" />
				            </h:commandLink>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.PDF}"></h:outputText>
				            </f:facet>
				            <h:commandLink target="_blank" styleClass="actioneditar" action="#{mbeanFactura.imprimirPDFCliente(factura)}" > 
				           		 <h:graphicImage alt="Factura Cliente" url="/images/iconos/pdf.png" styleClass="actioneditar" />
				            </h:commandLink>
				        </h:column>			       
				</t:dataTable>
			</div> 
		</div>
        	
    </ui:define>
 
</ui:composition>
