<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
	    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
			<ui:param name="tramite" value="Consultar" />
			<ui:param name="consultaTitulo" value="Consultar Remision" />
		</ui:include>
		
		<t:saveState value="#{mbeanRemisionConsulta.consultaBean.listaRemisiones}" id="savelistaRemisiones"></t:saveState>
		<t:saveState value="#{mbeanRemisionConsulta.consultaBean}" id="saveconsultaBean"></t:saveState>
		<t:saveState value="#{mbeanRemisionConsulta.listaCliente}" id="savelistaCliente"></t:saveState>
		
		<div class="contenedor"> 
			<div class="ttlAgrupacion"> #{msg.filtroBusqueda}:
			 	<table>
			 		<tr>
			 			<td>
							<span class="lblFormularios">#{msg.remision}</span>
						</td>
						<td colspan="3">
							<span><h:inputText id="idremision" styleClass="lblFormularios" value="#{mbeanRemisionConsulta.consultaBean.idRemision}"></h:inputText></span>
						</td>
					</tr>
			 		<tr>
						<td>
							<span class="lblFormularios">#{msg.cliente}</span>
						</td>
						<td colspan="3">
							<t:selectOneMenu
										id="comboTipoCliente" forceId="true"
										value="#{mbeanRemisionConsulta.clienteSelect}"
										styleClass="sizeInput mayusculas">
									<f:selectItem  id="selectCliente" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true" />
									<t:selectItems id="selectCliente1"
													value="#{mbeanRemisionConsulta.listaCliente}" var="c"
													itemLabel="#{c.razon_social}"
													itemValue="#{c.id_cliente}">
									</t:selectItems>
							</t:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
							<span class="lblFormularios">#{msg.fecha_inicial}</span>
						</td>
						<td>
							<h:inputText id="fechainicial" autocomplete="off" value="#{mbeanRemisionConsulta.consultaBean.fechaInicial}" 
								converterMessage="La fecha debe ser en el formato dd/mm/yyyy" styleClass="inputFechaFormulario datepicker">  					
								<f:convertDateTime pattern="dd/MM/yyyy" /> 
							</h:inputText>
						</td>
						<td>
							<span class="lblFormularios">#{msg.fecha_final}</span>
							<h:inputText id="fechafinal" autocomplete="off"  value="#{mbeanRemisionConsulta.consultaBean.fechaFinal}" 
								converterMessage="La fecha debe ser en el formato dd/mm/yyyy" styleClass="inputFechaFormulario datepicker">  					
								<f:convertDateTime pattern="dd/MM/yyyy" /> 
							</h:inputText>
						</td>
					</tr>
				</table>
				<div>
					<h:commandButton value="Buscar" action="#{mbeanRemisionConsulta.buscarRemisiones}" ajax="false"></h:commandButton>
				</div>
			</div>
			<div class="tituloListado">#{msg.listadoRemisiones}</div>
			<div style="overflow-x:auto;">
	 		<t:dataTable id="tableid" value="#{mbeanRemisionConsulta.consultaBean.listaRemisiones}"
				        var="remision" rows="10" rowIndexVar="rowIndex"
				        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.remision}"></h:outputText>
			            </f:facet>
			            <h:outputLabel value="#{remision.idRemision}"></h:outputLabel>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText class="formularioLabelCampo" value="#{msg.cliente}"></h:outputText>
			            </f:facet>
			            <h:outputLabel styleClass="formularioLabelCampo" value="#{remision.iclienteBean.razon_social}"></h:outputLabel>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText class="formularioLabelCampo" value="#{msg.obra}"></h:outputText>
			            </f:facet>
			            <h:outputLabel styleClass="formularioLabelCampo" value="#{remision.iobraBean.nombre}"></h:outputLabel>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText class="formularioLabelCampo" value="#{msg.transportador}"></h:outputText>
			            </f:facet>
			            <h:outputLabel styleClass="formularioLabelCampo" value="#{remision.itransportadorBean.nombre}"></h:outputLabel>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.fecha}"></h:outputText>
			            </f:facet>
			            <h:outputLabel value="#{remision.fecha}"><f:convertDateTime pattern="dd/MM/yyyy" /> </h:outputLabel>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.estado}"></h:outputText>
			            </f:facet>
			             <h:outputLabel value="EMITIDA" rendered="#{remision.estado}"> </h:outputLabel>
			            <h:outputLabel value="ANULADA" rendered="#{not remision.estado}"> </h:outputLabel>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.impresa}"></h:outputText>
			            </f:facet>
			             <h:outputLabel value="SI" rendered="#{remision.printed}"> </h:outputLabel>
			            <h:outputLabel value="NO" rendered="#{not remision.printed}"> </h:outputLabel>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.ver}"></h:outputText>
			            </f:facet>
			            <h:commandLink styleClass="actioneditar" action="#{mbeanRemision.verRemision(remision)}" > 
			           		 <h:graphicImage alt="Ver" url="/images/iconos/ojo.png" styleClass="actioneditar" title="Ver Remision"/>
			            </h:commandLink>
			        </h:column>
			           <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.imprimir}"></h:outputText>
			            </f:facet>
			            <h:commandLink target="_blank" styleClass="actioneditar" action="#{mbeanRemision.imprimir(remision)}" onclick="if(!confirm('#{msg.confirmarImprimirRemision} #{remision.idRemision}? #{msg.confirmarImprimirNoModificacion}'))
						return false" > 
			           		 <h:graphicImage alt="PDF" url="/images/iconos/pdf.png" styleClass="actioneditar" title="Ver PDF" />
			            </h:commandLink>
			            
			        </h:column>	
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.imprimirPDFCliente}"></h:outputText>
			            </f:facet>
			            <h:commandLink target="_blank" styleClass="actioneditar" action="#{mbeanRemision.imprimirPDFCliente(remision)}" onclick="if(!confirm('#{msg.confirmarImprimirRemision} #{remision.idRemision}? #{msg.confirmarImprimirNoModificacion}'))
						return false"> 
			           		 <h:graphicImage alt="PDF" url="/images/iconos/pdf.png" styleClass="actioneditar" title="Ver PDF"/>
			            </h:commandLink>
			        </h:column>			       
			</t:dataTable>
			</div>
		</div>
        	
    </ui:define>
 
</ui:composition>
