<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:dgt="http://www.trafico.es/taglib"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
    
	    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
			<ui:param name="tramite" value="#{msg.reposicion}" />
			<ui:param name="consultaTitulo" value="#{msg.consultarReposicion}" />
		</ui:include>
		
		<t:saveState value="#{mbeanReposicionConsulta.consultaBean.listaReposiciones}" id="savelistaReposiciones"></t:saveState>
		<t:saveState value="#{mbeanReposicionConsulta.consultaBean}" id="saveconsultaBean"></t:saveState>
		<t:saveState value="#{mbeanReposicionConsulta.listaCliente}" id="savelistaCliente"></t:saveState>
		
		<div class="contenedor"> 
			<div class="ttlAgrupacion"> #{msg.filtroBusqueda}:
			 	<table>
			 		<tr>
			 			<td>
							<span class="lblFormularios">#{msg.reposicion}</span>
						</td>
						<td colspan="3">
							<span><h:inputText id="idreposicion" styleClass="lblFormularios" value="#{mbeanReposicionConsulta.consultaBean.idReposicion}"></h:inputText></span>
						</td>
					</tr>
			 		<tr>
						<td>
							<span class="lblFormularios">#{msg.cliente}</span>
						</td>
						<td colspan="3">
							<t:selectOneMenu
										id="comboTipoCliente" forceId="true"
										value="#{mbeanReposicionConsulta.clienteSelect}"
										styleClass="sizeInput mayusculas">
									<f:selectItem  id="selectCliente" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true" />
									<t:selectItems id="selectCliente1"
													value="#{mbeanReposicionConsulta.listaCliente}" var="c"
													itemLabel="#{c.razon_social}"
													itemValue="#{c.id_cliente}">
									</t:selectItems>
							</t:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
							<span class="lblFormularios">#{msg.fecha_inicial}</span>
						</td>
						<td>
							<h:inputText id="fechainicial" value="#{mbeanReposicionConsulta.consultaBean.fechaInicial}" 
								converterMessage="La fecha debe ser en el formato dd/mm/yyyy" autocomplete="off" styleClass="inputFechaFormulario datepicker">  					
								<f:convertDateTime pattern="dd/MM/yyyy" /> 
							</h:inputText>
						</td>
						<td>
							<span class="lblFormularios">#{msg.fecha_final}</span>
							<h:inputText id="fechafinal" value="#{mbeanReposicionConsulta.consultaBean.fechaFinal}" 
								converterMessage="La fecha debe ser en el formato dd/mm/yyyy" autocomplete="off" styleClass="inputFechaFormulario datepicker">  					
								<f:convertDateTime pattern="dd/MM/yyyy" /> 
							</h:inputText>
						</td>
					</tr>
				</table>
				<div>
					<h:commandButton value="Buscar" action="#{mbeanReposicionConsulta.buscarReposiciones}" ajax="false"></h:commandButton>
				</div>
			</div>
			<div class="tituloListado">#{msg.listadoReposiciones}</div>
			<div style="overflow-x:auto;">
		 		<t:dataTable id="tableid" value="#{mbeanReposicionConsulta.consultaBean.listaReposiciones}"
					        var="reposicion" rows="10" rowIndexVar="rowIndex"
					        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.reposicion}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{reposicion.idReposicion}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.cliente}"></h:outputText>
				            </f:facet>
				            <h:outputLabel styleClass="formularioLabelCampo" value="#{reposicion.iclienteBean.razon_social}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.obra}"></h:outputText>
				            </f:facet>
				            <h:outputLabel styleClass="formularioLabelCampo" value="#{reposicion.iobraBean.nombre}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.fecha}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{reposicion.fecha}"><f:convertDateTime pattern="dd/MM/yyyy" /> </h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.ver}"></h:outputText>
				            </f:facet>
				            <h:commandLink styleClass="actioneditar" action="#{mbeanReposicion.verReposicion(reposicion)}" > 
				           		 <h:graphicImage url="/images/iconos/ojo.png" styleClass="actioneditar" alt="Ver Reposicion" title="Ver Reposicion"/>
				            </h:commandLink>
				        </h:column>
				           <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.imprimir}"></h:outputText>
				            </f:facet>
				            <h:commandLink target="_blank" styleClass="actioneditar" action="#{mbeanReposicion.imprimir(reposicion)}" > 
				           		 <h:graphicImage url="/images/iconos/pdf.png" styleClass="actioneditar" alt="Ver PDF" title="Ver PDF"/>
				            </h:commandLink>
				        </h:column>			       
				</t:dataTable>
			</div>
		</div>
        	
    </ui:define>
 
</ui:composition>
