<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
    
	    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
			<ui:param name="tramite" value="#{msg.devolucion}" />
			<ui:param name="consultaTitulo" value="#{msg.consultarDevolucion}" />
		</ui:include>
		
		<t:saveState value="#{mbeanDevolucionConsulta.consultaBean.listaDevoluciones}" id="savelistaDevoluciones"></t:saveState>
		<t:saveState value="#{mbeanDevolucionConsulta.listaCliente}" id="savelistaCliente"></t:saveState>
		<div class="contenedor"> 
			<div class="ttlAgrupacion"> #{msg.filtroBusqueda}:
			 	<table>
			 		<tr>
			 			<td>
							<span class="lblFormularios">#{msg.devolucion}</span>
						</td>
						<td colspan="3">
							<span><h:inputText id="iddevolucion" styleClass="lblFormularios" value="#{mbeanDevolucionConsulta.consultaBean.idDevolucion}"></h:inputText></span>
						</td>
					</tr>
			 		<tr>
						<td>
							<span class="lblFormularios">#{msg.cliente}</span>
						</td>
						<td colspan="3">
							<t:selectOneMenu
										id="comboTipoCliente" forceId="true"
										value="#{mbeanDevolucionConsulta.clienteSelect}"
										styleClass="sizeInput mayusculas">
									<f:selectItem  id="selectCliente" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true" />
									<t:selectItems id="selectCliente1"
													value="#{mbeanDevolucionConsulta.listaCliente}" var="c"
													itemLabel="#{c.razon_social}"
													itemValue="#{c.id_cliente}">
									</t:selectItems>
							</t:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
							<span class="lblFormularios">#{msg.fecha_inicial}</span>
						</td>
						<td>
							<h:inputText id="fechainicial" value="#{mbeanDevolucionConsulta.consultaBean.fechaInicial}" 
								converterMessage="La fecha debe ser en el formato dd/mm/yyyy" autocomplete="off" styleClass="inputFechaFormulario datepicker">  					
								<f:convertDateTime pattern="dd/MM/yyyy" /> 
							</h:inputText>
						</td>
						<td>
							<span class="lblFormularios">#{msg.fecha_final}</span>
							<h:inputText id="fechafinal" value="#{mbeanDevolucionConsulta.consultaBean.fechaFinal}" 
								converterMessage="La fecha debe ser en el formato dd/mm/yyyy" autocomplete="off" styleClass="inputFechaFormulario datepicker">  					
								<f:convertDateTime pattern="dd/MM/yyyy" /> 
							</h:inputText>
						</td>
					</tr>
				</table>
				<div>
					<h:commandButton value="Buscar" action="#{mbeanDevolucionConsulta.buscarDevoluciones}" ajax="false"></h:commandButton>
				</div>
			</div>
			<div class="tituloListado">#{msg.listadoDevoluciones}</div>
			<div style="overflow-x:auto;">
		 		<t:dataTable id="tableid" value="#{mbeanDevolucionConsulta.consultaBean.listaDevoluciones}"
					        var="devolucion" rows="10" rowIndexVar="rowIndex"
					        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.devolucion}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{devolucion.idDevolucion}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText styleClass="formularioLabelCampo" value="#{msg.cliente}"></h:outputText>
				            </f:facet>
				            <h:outputLabel styleClass="formularioLabelCampo" value="#{devolucion.iclienteBean.razon_social}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText styleClass="formularioLabelCampo" value="#{msg.obra}"></h:outputText>
				            </f:facet>
				            <h:outputLabel styleClass="formularioLabelCampo" value="#{devolucion.iobraBean.nombre}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText styleClass="formularioLabelCampo" value="#{msg.transportador}"></h:outputText>
				            </f:facet>
				            <h:outputLabel styleClass="formularioLabelCampo" value="#{devolucion.itransportadorBean.nombre}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.fecha}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{devolucion.fecha}"><f:convertDateTime pattern="dd/MM/yyyy" /> </h:outputLabel>
				        </h:column>
				        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.estado}"></h:outputText>
			            </f:facet>
			            	 <h:outputLabel value="EMITIDA" rendered="#{devolucion.estado}"> </h:outputLabel>
			            	<h:outputLabel value="ANULADA" rendered="#{not devolucion.estado}"> </h:outputLabel>
			       		 </h:column>
			       		  <h:column>
			            <f:facet name="header">
				                <h:outputText value="#{msg.impresa}"></h:outputText>
				            </f:facet>
				             <h:outputLabel value="SI" rendered="#{devolucion.printed}"> </h:outputLabel>
				            <h:outputLabel value="NO" rendered="#{not devolucion.printed}"> </h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.ver}"></h:outputText>
				            </f:facet>
				            <h:commandLink styleClass="actioneditar" action="#{mbeanDevolucion.verDevolucion(devolucion)}" > 
				           		 <h:graphicImage url="/images/iconos/ojo.png" styleClass="actioneditar" alt="Ver Devolucion" title="Ver Devolucion"/>
				            </h:commandLink>
				        </h:column>
				           <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.imprimir}"></h:outputText>
				            </f:facet>
				            <h:commandLink target="_blank" styleClass="actioneditar" action="#{mbeanDevolucion.imprimir(devolucion)}" > 
				           		 <h:graphicImage url="/images/iconos/pdf.png" styleClass="actioneditar" alt="Ver PDF" title="Ver PDF" /> 
				            </h:commandLink>
				        </h:column>		
			           <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.PDF}"></h:outputText>
				            </f:facet>
				            <h:commandLink target="_blank" styleClass="actioneditar" action="#{mbeanDevolucion.imprimirAgrupado(devolucion)}" > 
				           		 <h:graphicImage url="/images/iconos/pdf.png" styleClass="actioneditar" alt="Ver PDF" title="Ver PDF"/>
				            </h:commandLink>
				        </h:column>			       
				</t:dataTable>
			</div>	
		</div>
        	
    </ui:define>
 
</ui:composition>
