<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
	    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
			<ui:param name="tramite" value="Consultar" />
			<ui:param name="consultaTitulo" value="Consultar Salida" />
		</ui:include>
		
		<t:saveState value="#{mbeanSalidaConsulta.consultaBean.listaSalidas}" id="savelistaSalidas"></t:saveState>
		<t:saveState value="#{mbeanSalidaConsulta.consultaBean}" id="saveconsultaBean"></t:saveState>
		<t:saveState value="#{mbeanSalidaConsulta.listaProveedor}" id="savelistaProveedor"></t:saveState>
		
		<div class="contenedor"> 
			<div class="ttlAgrupacion"> #{msg.filtroBusqueda}:
			 	<table>
			 		<tr>
			 			<td>
							<span class="lblFormularios">#{msg.salida}</span>
						</td>
						<td colspan="3">
							<span><h:inputText id="idsalida" styleClass="lblFormularios" value="#{mbeanSalidaConsulta.consultaBean.idSalida}"></h:inputText></span>
						</td>
					</tr>
			 		<tr>
						<td>
							<span class="lblFormularios">#{msg.proveedor}</span>
						</td>
						<td colspan="3">
							<t:selectOneMenu
										id="comboTipoProveedor" forceId="true"
										value="#{mbeanSalidaConsulta.proveedorSelect}"
										styleClass="sizeInput mayusculas">
									<f:selectItem  id="selectProveedor" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true" />
									<t:selectItems id="selectProveedor1"
													value="#{mbeanSalidaConsulta.listaProveedor}" var="c"
													itemLabel="#{c.razon_social}"
													itemValue="#{c.codigo_proveedor}">
									</t:selectItems>
							</t:selectOneMenu>
						</td>
					</tr>
					<tr>
						<td>
							<span class="lblFormularios">#{msg.fecha_inicial}</span>
						</td>
						<td>
							<h:inputText id="fechainicial" autocomplete="off" value="#{mbeanSalidaConsulta.consultaBean.fechaInicial}" 
								converterMessage="La fecha debe ser en el formato dd/mm/yyyy" styleClass="inputFechaFormulario datepicker">  					
								<f:convertDateTime pattern="dd/MM/yyyy" /> 
							</h:inputText>
						</td>
						<td>
							<span class="lblFormularios">#{msg.fecha_final}</span>
							<h:inputText id="fechafinal" autocomplete="off"  value="#{mbeanSalidaConsulta.consultaBean.fechaFinal}" 
								converterMessage="La fecha debe ser en el formato dd/mm/yyyy" styleClass="inputFechaFormulario datepicker">  					
								<f:convertDateTime pattern="dd/MM/yyyy" /> 
							</h:inputText>
						</td>
					</tr>
				</table>
				<div>
					<h:commandButton value="Buscar" action="#{mbeanSalidaConsulta.buscarSalidas}" ajax="false"></h:commandButton>
				</div>
			</div>
			<div class="tituloListado">#{msg.listadoSalida}</div>
			<div style="overflow-x:auto;">
	 		<t:dataTable id="tableid" value="#{mbeanSalidaConsulta.consultaBean.listaSalidas}"
				        var="salida" rows="10" rowIndexVar="rowIndex"
				        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.salida}"></h:outputText>
			            </f:facet>
			            <h:outputLabel value="#{salida.idSalida}"></h:outputLabel>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.proveedor}"></h:outputText>
			            </f:facet>
			            <h:outputLabel styleClass="formularioLabelCampo" value="#{salida.iproveedorBean.razon_social}"></h:outputLabel>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.fecha}"></h:outputText>
			            </f:facet>
			            <h:outputLabel value="#{salida.fecha}"><f:convertDateTime pattern="dd/MM/yyyy" /> </h:outputLabel>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.ver}"></h:outputText>
			            </f:facet>
			            <h:commandLink styleClass="actioneditar" action="#{mbeanSalida.verSalida(salida)}" > 
			           		 <h:graphicImage url="/images/iconos/ojo.png" styleClass="actioneditar" title="Ver Salida"/>
			            </h:commandLink>
			        </h:column>
			           <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.imprimir}"></h:outputText>
			            </f:facet>
			            <h:commandLink target="_blank" styleClass="actioneditar" action="#{mbeanSalida.imprimir(salida)}" > 
			           		 <h:graphicImage url="/images/iconos/pdf.png" styleClass="actioneditar" title="Ver PDF" />
			            </h:commandLink>
			            
			        </h:column>	
			</t:dataTable>
			</div>
		</div>
        	
    </ui:define>
 
</ui:composition>
