<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:dgt="http://www.trafico.es/taglib"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
    
    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
		<ui:param name="tramite" value="Inicio" />
		<ui:param name="consultaTitulo" value="#{msg.devolucion}" />
	</ui:include>
	
	<t:saveState value="#{mbeanDevolucion.listaCliente}" id="IdSaveListaCliente" />
	<t:saveState value="#{mbeanDevolucion.iDevolucionBean.iclienteBean.listaObras}" id="IdSaveListaObras" />
	<t:saveState value="#{mbeanDevolucion.listaTipoProducto}" id="IdSaveListaTipoProductos" />
						
	<t:saveState value="#{mbeanDevolucion.iDevolucionBean.listaProducto}" id="IdSaveListaProductos" />
	<t:saveState value="#{mbeanDevolucion.listaTransportador}" id="IdSavelistaTransportador" />
	
	<t:saveState value="#{mbeanDevolucion.iDevolucionBean.iclienteBean}" id="IdSavecliente" />
	<t:saveState value="#{mbeanDevolucion.iDevolucionBean.iobraBean}" id="IdSaveobra" />

	<t:saveState value="#{mbeanDevolucion.selectProducto}" id="IdSaveselectProducto" />
	<t:saveState value="#{mbeanDevolucion.clienteSelect}" id="IdSaveclienteSelect" />
	<t:saveState value="#{mbeanDevolucion.obraSelect}" id="IdSaveobraSelect" />
	<t:saveState value="#{mbeanDevolucion.codTipoProductoSelect}" id="IdSavecodTipoProductoSelect" />
	<t:saveState value="#{mbeanDevolucion.selectTransportador}" id="IdSaveselectTransportador" />
	
	<t:saveState value="#{mbeanDevolucion.iDevolucionBean}" id="IdSaveiDevolucion" />
	<t:saveState value="#{mbeanDevolucion.mostrarDetalle}" id="IdSavemostrarDetalle" />
	<t:saveState value="#{mbeanDevolucion.iDevolucionBean.detalleDevoluciones}" id="IdSavedetalleDevoluciones" />
	
	<div class="contenedor"> 
		<t:div id ="listado" styleclass="row" rendered="#{mbeanDevolucion.onlyread}">
				 <div class="col-100"> <label class="labelIDremision">#{msg.no_devolucion}:</label>  
				 	<label class="labelIDremision">#{mbeanDevolucion.iDevolucionBean.idDevolucion}</label>
				 </div>
		</t:div>
		 <div class="row">
			 <div class="col-50">
				<div class="col-15">
		        	<label class="lblFormularios">#{msg.fecha_corte}:</label>
		      	</div>
		      	<div class="col-30">
			      <h:inputText id="fecha" autocomplete="off" value="#{mbeanDevolucion.iDevolucionBean.fecha}" 
					converterMessage="La fecha debe ser en el formato dd/mm/yyyy" styleClass="sizeInput75 datepicker">  					
					<f:convertDateTime pattern="dd/MM/yyyy" /> 
					</h:inputText>
		      	</div>
		      	<div class="col-20">
		        	<label class="lblFormularios">#{msg.fecha_entrega}:</label>
		      	</div>
		      	<div class="col-25">
			      <h:inputText id="fechaEntrega" autocomplete="off" value="#{mbeanDevolucion.iDevolucionBean.fecha_entrega}" 
					converterMessage="La fecha debe ser en el formato dd/mm/yyyy" styleClass="sizeInput100 datepicker">  					
					<f:convertDateTime pattern="dd/MM/yyyy" /> 
					</h:inputText>
		      	</div>
		     </div>
		    </div>
		<div class="row">
			 <div class="col-50">
				 <div class="row">
				 	<div class="col-100"> <label class="ttlAgrupacion">#{msg.datos_cliente}:</label></div>
				 </div>
				 <div class="row">
			     	<div class="col-15">
			      	  <label class="lblFormularios">#{msg.cliente}:</label>
			   		</div>
			       <div class="col-75">
				        <t:selectOneMenu
									id="comboTipoCliente" readonly="#{mbeanDevolucion.onlyread}" forceId="true"
									value="#{mbeanDevolucion.clienteSelect}"
									styleClass="sizeInput100 mayusculas" valueChangeListener="#{mbeanDevolucion.seleccionarCliente}" 
			                onchange="submit();" >
								<f:selectItem  id="selectCliente" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true" />
								<t:selectItems id="selectCliente1"
												value="#{mbeanDevolucion.listaCliente}" var="c"
												itemLabel="#{c.razon_social}"
												itemValue="#{c.id_cliente}">
								</t:selectItems>
						</t:selectOneMenu>
			       </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.nit}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanDevolucion.iDevolucionBean.iclienteBean.id_cliente}"/>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.direccion}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanDevolucion.iDevolucionBean.iclienteBean.direccion}"/>
			      </div>
			    </div>
			 </div>
			 <div class="col-50">
				<div class="row">
					 <div class="col-100"> <label class="ttlAgrupacion">#{msg.datos_obra}:</label></div>
				</div>
				<div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.obra}:</label>
			      </div>
			      <div class="col-75">
			        <t:selectOneMenu
								id="comboObra" readonly="false" forceId="true"
								value="#{mbeanDevolucion.obraSelect}"
								styleClass="sizeInput100 mayusculas" valueChangeListener="#{mbeanDevolucion.seleccionarObra}" 
	                		 onchange="submit();"  >
							<f:selectItem  id="selectObra" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true"  />
							<t:selectItems id="selectObra1"
											value="#{mbeanDevolucion.iDevolucionBean.iclienteBean.listaObras}" var="obra"
											itemLabel="#{obra.nombre}"
											itemValue="-#{obra.idObra}">
							</t:selectItems>
					</t:selectOneMenu>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.direccion}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanDevolucion.iDevolucionBean.iobraBean.direccion}"/>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.telefono}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanDevolucion.iDevolucionBean.iobraBean.direccion}"/>
			      </div>
			    </div>
			</div>
		</div>
		<div class="row">
		 	<div class="col-100"> <label class="ttlAgrupacion">#{msg.datos_trasnporte}</label></div>
		 </div>
		 <div class="row">
			 <div class="col-50">
				 <div class="row">
					      <div class="col-15">
					        <label class="lblFormularios">#{msg.transportador}:</label>
					      </div>
					      <div class="col-75">
					      	<t:selectOneMenu
										id="comboTranportador" readonly="false" forceId="true" 
										value="#{mbeanDevolucion.selectTransportador}"
										styleClass="sizeInput100 mayusculas">
		                 			<f:selectItem  id="selectTranportador" itemValue="Seleccionar" itemLabel="Seleccionar" />
									<t:selectItems id="selectTranportador1"
													value="#{mbeanDevolucion.listaTransportador}" var="t"
													itemLabel="#{t.nombre}"
													itemValue="#{t.no_documento}">
									</t:selectItems>
							</t:selectOneMenu>
					      </div>
					</div>
				</div>
				<div class="col-50">
				 <div class="row">
					      <div class="col-15">
					        <label class="lblFormularios">#{msg.transporte}:</label>
					      </div>
					      <div class="col-75">
					      	<h:inputText styleClass="sizeInput100" value="#{mbeanDevolucion.iDevolucionBean.transporte}"></h:inputText>
					      </div>
					</div>
				</div>
				<div class="col-50">
				 <div class="row">
					      <div class="col-15">
					        <label class="lblFormularios">#{msg.observaciones}:</label>
					      </div>
					      <div class="col-75">
					      	<h:inputTextarea styleClass="sizeInput100" value = "#{mbeanDevolucion.iDevolucionBean.observaciones}"/>
					      </div>
					</div>
				</div>
			</div>  
			
			<div class="tituloListado">#{msg.listadoProductos}</div>
			<div style="overflow-x:auto;">
	 		<t:dataTable id="tableid" value="#{mbeanDevolucion.iDevolucionBean.detalleDevoluciones}"
				        var="detalle" rows="50" rowIndexVar="rowIndex"
				        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.producto}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.iproductoBean.codigo_producto}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.descripcion}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.iproductoBean.descripcion}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.pendiente}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.pendiente}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.cantidadAdevolver}"></h:outputText>
				            </f:facet>
				            <h:inputText value="#{detalle.cantidad}" />
				        </h:column>
				</t:dataTable>
				</div>
				
				<div class="row"> 
					<div class="col-100">
						<h:commandButton  value="#{msg.btn_guardar}" action="#{mbeanDevolucion.guardarDevolucion}" onclick="if(!confirm('#{msg.confirmarguardar}?'))
									return false" ajax="false"></h:commandButton> 	
						<h:commandButton  value="#{msg.btn_nuevo}" action="#{mbeanDevolucion.nuevaDevolucion}" />
						<h:commandLink styleClass="imprimir" target="_blank"  value="#{msg.btn_imprimir}" action="#{mbeanDevolucion.imprimir(mbeanDevolucion.iDevolucionBean)}" rendered="#{mbeanDevolucion.onlyread}"/> 	
					</div>
				</div>
	</div>
        	
    </ui:define>
 
</ui:composition>
