<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="../plantillas/plantillaBase.xhtml">

	<ui:define name="contenido">
		<ui:include src="../plantillas/cabeceraPaginas.xhtml">
			<ui:param name="tramite" value="" />
			<ui:param name="consultaTitulo" value="Inicio" />
		</ui:include>
		<div class="contenedor">
			<div class="backgroundlogo" id="contenedorAplicacion">
<!-- 				<h:graphicImage styleClass="align:center" value="/images/logo.png" -->
<!-- 					height="200" width="200"></h:graphicImage> -->
	
			</div>
			<h:selectOneMenu value="#{beersBean.selectedBeer}"
					converter="beerConverter">
					<f:selectItems value="#{beersBean.beers}" var="beer"
						itemValue="#{beer}" itemLabel="#{beer.brand}" />
				</h:selectOneMenu>
				<div>
					<h:selectOneMenu value="#{mbeanProducto.selectedPro}"
						converter="productoBeanConverter">
						<f:selectItems value="#{mbeanProducto.listaProducto}"
							var="producto" itemValue="#{producto}"
							itemLabel="#{producto.descripcion}" />
					</h:selectOneMenu>
				</div>	
		</div>
	</ui:define>

</ui:composition>
