<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:dgt="http://www.trafico.es/taglib"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
    
    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
		<ui:param name="tramite" value="Mantenimiento consulta de clientes" />
		<ui:param name="consultaTitulo" value="Listado de Productos" />
	</ui:include>
	
	<t:saveState value="#{mbeanUsuario.listaUsuario}" id="IdSavecitaSeleccionada" />
		
	
	<div class="contenedor"> 
		<table border="1">			
 			<tr>
 				<td>documento</td>			
 				<td><h:inputText id="documento" value="#{mbeanUsuario.iusuario.codigo}"></h:inputText></td>
				<td><h:commandButton styleClass="btn_Buscar" value="" action="#{mbeanUsuario.buscarUsuario}" /> </td>
 			</tr>
 		</table>	
	</div>
			<div style="overflow-x:auto;">
				<t:dataTable id="tableid" value="#{mbeanUsuario.listaUsuario}"
				        var="usuario" border="1" rows="10" rowIndexVar="rowIndex"
				        rowClasses="trobg1,trobg2">
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="Documento"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{usuario.documento}"></h:outputLabel>
				        </h:column>
				
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="Nombre"></h:outputText>
				            </f:facet>
				            <h:inputText value="#{usuario.nombre}" size="10" rendered="#{usuario.editable}" />
	    				    <h:outputText value="#{usuario.nombre}" rendered="#{not usuario.editable}" />
				        </h:column>
				        
				         <h:column>
				            <f:facet name="header">
				                <h:outputText value="Apellido 1"></h:outputText>
				            </f:facet>
				            <h:inputText value="#{usuario.apellido1}" size="10" rendered="#{usuario.editable}" />
	    				    <h:outputText value="#{usuario.apellido1}" rendered="#{not usuario.editable}" />
				        </h:column>
				         <h:column>
				            <f:facet name="header">
				                <h:outputText value="Apellido 2"></h:outputText>
				            </f:facet>
				            <h:inputText value="#{usuario.apellido2}" size="10" rendered="#{usuario.editable}" />
	    				    <h:outputText value="#{usuario.apellido2}" rendered="#{not usuario.editable}" />
				        </h:column>
				         <h:column>
				            <f:facet name="header">
				                <h:outputText value="Telefono"></h:outputText>
				            </f:facet>
				             <h:inputText value="#{usuario.telefono}" size="10" rendered="#{usuario.editable}" />
	    				     <h:outputText value="#{usuario.telefono}" rendered="#{not usuario.editable}" />
				        </h:column>
				         <h:column>
				            <f:facet name="header">
				                <h:outputText value="Borrar"></h:outputText>
				            </f:facet>
				            <h:commandLink action="#{mbeanUsuario.deleteAction(usuario)}" value="borrar" > </h:commandLink>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="Editar"></h:outputText>
				            </f:facet>
				            <h:commandLink action="#{mbeanUsuario.editarAction(usuario)}" value="editar" rendered="#{not usuario.editable}" > </h:commandLink>
				             <h:commandLink action="#{mbeanUsuario.cancelarEditarAction(usuario)}" value="cancelar" rendered="#{usuario.editable}" > </h:commandLink>
				            </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="Ver"></h:outputText>
				            </f:facet>
				            <h:commandLink action="#{mbeanUsuario.verDetalleUsuario(usuario)}" value="ver" > </h:commandLink>
				        </h:column>
				</t:dataTable>
			</div>
        	<h:commandButton value="Save Changes" action="#{mbeanUsuario.saveAction}" />
    </ui:define>
 
</ui:composition>
