<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:dgt="http://www.trafico.es/taglib"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
    
    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
		<ui:param name="tramite" value="Inicio" />
		<ui:param name="consultaTitulo" value="Consultar Facturas > ver Factura" />
	</ui:include>
	
	<t:saveState value="#{mbeanFactura.listaCliente}" id="IdSaveListaCliente" />
	<t:saveState value="#{mbeanFactura.ifacturaBean.iclienteBean.listaObras}" id="IdSaveListaObras" />
	<t:saveState value="#{mbeanFactura.listaTipoProducto}" id="IdSaveListaTipoProductos" />
						
	<t:saveState value="#{mbeanFactura.listaTransportador}" id="IdSavelistaTransportador" />
	
	<t:saveState value="#{mbeanFactura.ifacturaBean.iclienteBean}" id="IdSavecliente" />
	<t:saveState value="#{mbeanFactura.ifacturaBean.iobraBean}" id="IdSaveobra" />

	<t:saveState value="#{mbeanFactura.selectProducto}" id="IdSaveselectProducto" />
	<t:saveState value="#{mbeanFactura.clienteSelect}" id="IdSaveclienteSelect" />
	<t:saveState value="#{mbeanFactura.obraSelect}" id="IdSaveobraSelect" />
	<t:saveState value="#{mbeanFactura.codTipoProductoSelect}" id="IdSavecodTipoProductoSelect" />
	<t:saveState value="#{mbeanFactura.selectTransportador}" id="IdSaveselectTransportador" />
	
	<t:saveState value="#{mbeanFactura.ifacturaBean}" id="IdSaveiFacturacion" />
	<t:saveState value="#{mbeanFactura.ifacturaBean.listadetalleFactura}" id="IdSavelistadetalleFactura" />
	
	
	
	<div class="contenedor"> 
		<t:div id ="listado" styleclass="row" rendered="#{mbeanFactura.onlyread}">
				 <div class="col-100"> <label class="labelIDremision">#{msg.no_factura}:</label>  
				 	<label class="labelIDremision">#{mbeanFactura.ifacturaBean.idFactura}</label>
				 </div>
		</t:div>
		 <div class="row">
			 <div class="col-50">
				<div class="col-15">
		        	<label class="lblFormularios">#{msg.fecha}:</label>
		      	</div>
		      	<div class="col-30">
			      <h:inputText id="fecha" readonly="true" autocomplete="off" value="#{mbeanFactura.ifacturaBean.fecha_factura}" 
					converterMessage="La fecha debe ser en el formato dd/mm/yyyy" styleClass="sizeInput100">  					
					<f:convertDateTime pattern="dd/MM/yyyy" /> 
					</h:inputText>
		      	</div>
		     </div>
		    </div>
		<div class="row">
			 <div class="col-50">
				 <div class="row">
				 	<div class="col-100"> <label class="ttlAgrupacion">#{msg.datos_cliente}:</label></div>
				 </div>
				 <div class="row">
			     	<div class="col-15">
			      	  <label class="lblFormularios">#{msg.cliente}:</label>
			   		</div>
			       <div class="col-75">
				        <t:selectOneMenu
									id="comboTipoCliente" readonly="true"  forceId="true"
									value="#{mbeanFactura.clienteSelect}"
									styleClass="sizeInput100 mayusculas" valueChangeListener="#{mbeanFactura.seleccionarCliente}" 
			                onchange="submit();" >
								<f:selectItem  id="selectCliente" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true" />
								<t:selectItems id="selectCliente1"
												value="#{mbeanFactura.listaCliente}" var="c"
												itemLabel="#{c.razon_social}"
												itemValue="#{c.id_cliente}">
								</t:selectItems>
						</t:selectOneMenu>
			       </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.nit}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanFactura.ifacturaBean.iclienteBean.id_cliente}"/>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.direccion}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanFactura.ifacturaBean.iclienteBean.direccion}"/>
			      </div>
			    </div>
			 </div>
			 <div class="col-50">
				<div class="row">
					 <div class="col-100"> <label class="ttlAgrupacion">#{msg.datos_obra}:</label></div>
				</div>
				<div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.obra}:</label>
			      </div>
			      <div class="col-75">
			        <t:selectOneMenu
								id="comboObra" readonly="true" forceId="true"
								value="#{mbeanFactura.obraSelect}"
								styleClass="sizeInput100 mayusculas" valueChangeListener="#{mbeanFactura.seleccionarObra}" 
	                		 onchange="submit();"  >
							<f:selectItem  id="selectObra" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true"  />
							<t:selectItems id="selectObra1"
											value="#{mbeanFactura.ifacturaBean.iclienteBean.listaObras}" var="obra"
											itemLabel="#{obra.nombre}"
											itemValue="-#{obra.idObra}">
							</t:selectItems>
					</t:selectOneMenu>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.direccion}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanFactura.ifacturaBean.iobraBean.direccion}"/>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.telefono}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanFactura.ifacturaBean.iobraBean.direccion}"/>
			      </div>
			    </div>
			</div>
		</div>
		<div class="bloquepunteado"></div>	
	 	<!--fin  agrupacion de tabla cliente y obra -->
		<table class="bloquepunteado">
			<tr><th class="ttlAgrupacion">#{msg.periodo_factura}</th></tr>
 			<tr>
 				<td class="lblFormularios">#{msg.fecha_inicio}:
					<h:inputText id="fechainicio" readonly="true" value="#{mbeanFactura.ifacturaBean.fecha_inicio}" 
						converterMessage="La fecha debe ser en el formato dd/MM/yyyy" styleClass="inputFechaFormulario">  					
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="Europe/Berlin"/> 
					</h:inputText>
				</td>	
				<td class="lblFormularios">#{msg.fecha_corte}:
					<h:inputText id="fechacorte" readonly="true" value="#{mbeanFactura.ifacturaBean.fecha_corte}" 
						converterMessage="La fecha debe ser en el formato dd/MM/yyyy" styleClass="inputFechaFormulario">  					
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="Europe/Berlin"/> 
					</h:inputText>
				</td>
			</tr>
		</table>
			
			<div class="tituloListado">#{msg.listadoProductos}</div>
			<div style="overflow-x:auto;">
	 		<t:dataTable id="tableid" value="#{mbeanFactura.ifacturaBean.listadetalleFactura}"
				        var="detalle" rowIndexVar="rowIndex"
				        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
				         <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.saldo}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.cantidad}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.producto}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.codigo_producto}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.descripcion}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.descripcion}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.fecha_inicial}"> </h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.fecha_inicial}"> <f:convertDateTime pattern="dd/MM/yyyy"/> </h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.fecha_corte}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.fecha_final}"> <f:convertDateTime pattern="dd/MM/yyyy"/> </h:outputLabel>
				        </h:column>
				       
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.cantidad_abrev}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.cantidad_gestionada}"></h:outputLabel>
				        </h:column>
				        
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.tipo}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.tipo}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.no_dias}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.no_dias}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.valor_unitario}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.vr_unitario}">
				            	<f:convertNumber currencySymbol="$" type="currency" minFractionDigits="0"/>
				            </h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.valor_total}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.vr_total}" >
				           		 <f:convertNumber currencySymbol="$" type="currency" minFractionDigits="0"/>
				            </h:outputLabel>
				        </h:column>
				</t:dataTable>
			</div>
			<div align="right" style="padding-right:1ex;"> 	
					<h:outputLabel class="lblFormularios" value="#{msg.valor_parcial}" ></h:outputLabel> 
					<h:outputLabel class="lblFormularios" value="#{mbeanFactura.ifacturaBean.vr_parcial}" >
						<f:convertNumber locale="es_CO" currencySymbol="$" type="currency" minFractionDigits="0"/>
					</h:outputLabel>
					<br />
					<h:outputLabel class="lblFormularios" value="#{msg.descuento}" ></h:outputLabel> 
					<h:outputLabel immediate="true" class="lblFormularios" forceId="true" value="#{mbeanFactura.ifacturaBean.descuento}" >
						<f:convertNumber locale="es_CO" currencySymbol="$" type="currency" minFractionDigits="0"/>
					</h:outputLabel>
					<br />
					<h:outputLabel class="lblFormularios" value="#{msg.transporte}" ></h:outputLabel> 
					<h:outputLabel class="lblFormularios" value="#{mbeanFactura.ifacturaBean.transporte}" >
						<f:convertNumber locale="es_CO" currencySymbol="$" type="currency" minFractionDigits="0"/>
					</h:outputLabel>
					<br />
					<h:outputLabel class="lblFormularios" value="#{msg.subTotal}" ></h:outputLabel> 
					<h:outputLabel class="lblFormularios" value="#{mbeanFactura.ifacturaBean.vr_parcial+mbeanFactura.ifacturaBean.transporte-mbeanFactura.ifacturaBean.descuento}" >
						<f:convertNumber locale="es_CO" currencySymbol="$" type="currency" minFractionDigits="0"/>
					</h:outputLabel>
					<br />
					<h:outputLabel class="lblFormularios" value="#{msg.iva}" ></h:outputLabel> 
					<h:outputLabel class="lblFormularios" value="#{mbeanFactura.ifacturaBean.iva}" >
						<f:convertNumber locale="es_CO" currencySymbol="$" type="currency" minFractionDigits="0"/>
					</h:outputLabel>
					<br />
					<h:outputLabel class="lblFormularios" value="#{msg.danoEquipos}" ></h:outputLabel> 
					<h:outputLabel  immediate="true" class="lblFormularios" forceId="true" value="#{mbeanFactura.ifacturaBean.reposicion}" >
						<f:convertNumber locale="es_CO" currencySymbol="$" type="currency" minFractionDigits="0"/>
					</h:outputLabel>
					<br />
					<h:outputLabel class="lblFormularios" value="#{msg.total}" ></h:outputLabel> 
					<h:outputLabel class="lblFormularios" value="#{mbeanFactura.ifacturaBean.total}" >
						<f:convertNumber locale="es_CO" currencySymbol="$" type="currency" minFractionDigits="0"/>
					</h:outputLabel>
					
			</div>		
			<div class="row"> 
				<div class="col-100">
					<h:commandButton value="#{msg.atras}" action="#{mbeanFacturaConsulta.buscarFacturas}" />
					<h:commandLink styleClass="#{msg.btn_imprimir}" target="_blank"  value="#{msg.btn_imprimir}" action="#{mbeanFactura.imprimir(mbeanFactura.ifacturaBean)}" rendered="#{mbeanFactura.onlyread}"/> 	
				</div>
			</div>	
	</div>
        	
    </ui:define>
 
</ui:composition>
