<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:dgt="http://www.trafico.es/taglib"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	template="../plantillas/plantillaBase.xhtml">

	<ui:define name="contenido">

		<ui:include src="../plantillas/cabeceraPaginas.xhtml">
			<ui:param name="tramite" value="Incio > Consultar Entrada" />
			<ui:param name="consultaTitulo" value="#{msg.verEntrada}" />
		</ui:include>

		<t:saveState value="#{mbeanEntrada.listaProveedor}"
			id="IdSaveListaProveedir" />
		<t:saveState value="#{mbeanEntrada.listaTipoProducto}"
			id="IdSaveListaTipoProductos" />

		<t:saveState value="#{mbeanEntrada.iEntradaBean.listaProducto}"
			id="IdSaveListaProductos" />
		<t:saveState value="#{mbeanEntrada.iEntradaBean.iproveedorBean}"
			id="IdSaveProveedor" />

		<t:saveState value="#{mbeanEntrada.iEntradaBean.selectProducto}"
			id="IdSaveselectProducto" />
		<t:saveState value="#{mbeanEntrada.proveedorSelect}"
			id="IdSaveproveedorSelect" />
		<t:saveState
			value="#{mbeanEntrada.iEntradaBean.codTipoProductoSelect}"
			id="IdSavecodTipoProductoSelect" />
		<t:saveState value="#{mbeanEntrada.iEntradaBean}" id="IdSaveiEntrada" />
		<t:saveState value="#{mbeanEntrada.mostrarDetalle}"
			id="IdSavemostrarDetalle" />
		<t:saveState value="#{mbeanEntrada.iEntradaBean.detalleEntradas}"
			id="IdSavedetalleEntradas" />



		<div class="contenedor">

			<t:div id="listado" styleclass="row"
				rendered="#{mbeanEntrada.onlyread}">
				<div class="col-100">
					<label class="labelIDremision">#{msg.no_entrada}:</label> <label
						class="labelIDremision">#{mbeanEntrada.iEntradaBean.idEntrada}</label>
				</div>
			</t:div>
			<div class="row">
				<div class="col-50">
					<div class="col-15">
						<label class="lblFormularios">#{msg.fecha}:</label>
					</div>
					<div class="col-75">
						<h:inputText id="fecha" readonly="true" autocomplete="off"
							value="#{mbeanEntrada.iEntradaBean.fecha}"
							converterMessage="La fecha debe ser en el formato dd/mm/yyyy"
							styleClass="sizeInput100">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:inputText>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-50">
					<div class="row">
						<div class="col-100">
							<label class="ttlAgrupacion">#{msg.datos_cliente}:</label>
						</div>
					</div>
					<div class="row">
						<div class="col-15">
							<label class="lblFormularios">#{msg.proveedor}:</label>
						</div>
						<div class="col-75">
							<t:selectOneMenu id="comboProveedor" readonly="true"
								forceId="true"
								value="#{mbeanEntrada.iEntradaBean.codProveedorSelect}"
								styleClass="sizeInput100 mayusculas"
								valueChangeListener="#{mbeanEntrada.seleccionarProveedor}"
								onchange="submit();">
								<f:selectItem id="selectProveedor" itemValue="Seleccionar"
									itemLabel="Seleccionar" />
								<t:selectItems id="selectProveedor1"
									value="#{mbeanEntrada.listaProveedor}" var="proveedor"
									itemLabel="#{proveedor.razon_social}"
									itemValue="#{proveedor.codigo_proveedor}">
								</t:selectItems>
							</t:selectOneMenu>
						</div>
					</div>

				</div>
			</div>


			<div class="tituloListado">#{msg.listadoProductos}</div>
			<div style="overflow-x: auto;">
				<t:dataTable id="tableid"
					value="#{mbeanEntrada.iEntradaBean.detalleEntradas}" var="detalle"
					rows="10" rowIndexVar="rowIndex" rowClasses="trobg1,trobg2"
					styleClass="tablaResultado mayusculas"
					headerClass="employeeTableHeader">
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.producto}"></h:outputText>
						</f:facet>
						<h:outputLabel value="#{detalle.iproductoBean.codigo_producto}"></h:outputLabel>
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.descripcion}"></h:outputText>
						</f:facet>
						<h:outputLabel value="#{detalle.iproductoBean.descripcion}"></h:outputLabel>
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.cantidad}"></h:outputText>
						</f:facet>
						<h:outputLabel value="#{detalle.cantidad}"></h:outputLabel>
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.peso}"></h:outputText>
						</f:facet>
						<h:outputLabel
							value="#{detalle.iproductoBean.referenciaBean.peso}"></h:outputLabel>
					</h:column>
				</t:dataTable>
			</div>

			<div class="row">
				<div class="col-100">
					<h:commandButton value="#{msg.atras}"
						action="#{mbeanEntradaConsulta.buscarEntradas}" />
					<h:commandLink styleClass="imprimir" target="#{msg.btn_imprimir}"
						value="Imprimir"
						action="#{mbeanEntrada.imprimir(mbeanEntrada.iEntradaBean)}"
						rendered="#{mbeanEntrada.onlyread}" />
				</div>
			</div>

		</div>

	</ui:define>

</ui:composition>
