<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:dgt="http://www.trafico.es/taglib"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
    
    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
		<ui:param name="tramite" value="#{msg.consultarReposicion}" />
		<ui:param name="consultaTitulo" value="#{msg.modificarReposicion}" />
	</ui:include>
	
	<t:saveState value="#{mbeanReposicion.listaCliente}" id="IdSaveListaCliente" />
	<t:saveState value="#{mbeanReposicion.iReposicionBean.iclienteBean.listaObras}" id="IdSaveListaObras" />
	<t:saveState value="#{mbeanReposicion.listaTipoProducto}" id="IdSaveListaTipoProductos" />
						
	<t:saveState value="#{mbeanReposicion.iReposicionBean.listaProducto}" id="IdSaveListaProductos" />
	<t:saveState value="#{mbeanReposicion.listaTransportador}" id="IdSavelistaTransportador" />
	
	<t:saveState value="#{mbeanReposicion.iReposicionBean.iclienteBean}" id="IdSavecliente" />
	<t:saveState value="#{mbeanReposicion.iReposicionBean.iobraBean}" id="IdSaveobra" />

	<t:saveState value="#{mbeanReposicion.selectProducto}" id="IdSaveselectProducto" />
	<t:saveState value="#{mbeanReposicion.clienteSelect}" id="IdSaveclienteSelect" />
	<t:saveState value="#{mbeanReposicion.obraSelect}" id="IdSaveobraSelect" />
	<t:saveState value="#{mbeanReposicion.codTipoProductoSelect}" id="IdSavecodTipoProductoSelect" />
	<t:saveState value="#{mbeanReposicion.selectTransportador}" id="IdSaveselectTransportador" />
	
	<t:saveState value="#{mbeanReposicion.iReposicionBean}" id="IdSaveiReposicion" />
	<t:saveState value="#{mbeanReposicion.mostrarDetalle}" id="IdSavemostrarDetalle" />
	<t:saveState value="#{mbeanReposicion.iReposicionBean.detalleReposiciones}" id="IdSavedetalleReposiciones" />
	
	
	
	<div class="contenedor"> 
		<div class="lblFormularios">#{msg.fecha}
			<h:inputText id="fecha" value="#{mbeanReposicion.iReposicionBean.fecha}" readonly="true"
					converterMessage="La fecha debe ser en el formato dd/mm/yyyy" styleClass="inputFechaFormulario">  					
					<f:convertDateTime pattern="dd/MM/yyyy" /> 
			</h:inputText>
		</div>
		<table class="bloque"> <!--agrupacion de tabla cliente y obra -->
			<tr>
				<td>
					<table><!-- tabla cliente -->	
				 			<tr>
				 				<th colspan="2" class="ttlAgrupacion"> #{msg.datos_cliente}:</th>
				 			</tr>
				 			<tr>
				 				<td class="lblFormularios">#{msg.cliente}</td>
				 				<td>
									
									<t:selectOneMenu
												id="comboTipoCliente" readonly="true" forceId="true"
												value="#{mbeanReposicion.clienteSelect}"
												styleClass="sizeInput mayusculas" valueChangeListener="#{mbeanReposicion.seleccionarCliente}" 
				                  onchange="submit();" >
											<f:selectItem  id="selectCliente" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true" />
											<t:selectItems id="selectCliente1"
															value="#{mbeanReposicion.listaCliente}" var="c"
															itemLabel="#{c.razon_social}"
															itemValue="#{c.id_cliente}">
											</t:selectItems>
									</t:selectOneMenu>
								</td>
							</tr>
							<tr>
								<td class="lblFormularios">#{msg.nit}:</td>
								<td class="dtsDesFormularios"><h:outputText value="#{mbeanReposicion.iReposicionBean.iclienteBean.id_cliente}"></h:outputText></td>	
							</tr>
							<tr>
								<td class="lblFormularios">#{msg.direccion}:</td>
								<td class="dtsDesFormularios"><h:outputText value="#{mbeanReposicion.iReposicionBean.iclienteBean.direccion}"></h:outputText></td>		
									
				 			</tr>
			 			</table><!-- fin tabla cliente -->
				</td>
				<td>	
			 		<table>	<!-- tabla obra -->
			 			<tr>
				 			<th colspan="2" class="ttlAgrupacion">#{msg.datos_obra}</th>
				 		</tr>
			 			<tr>
			 				<td class="lblFormularios">#{msg.obra}:</td>
			 				<td>
								
								<t:selectOneMenu
											id="comboObra" readonly="true" forceId="true"
											value="#{mbeanReposicion.obraSelect}"
											styleClass="sizeInput mayusculas" valueChangeListener="#{mbeanReposicion.seleccionarObra}" 
			                  onchange="submit();"  >
										<f:selectItem  id="selectObra" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true"  />
										<t:selectItems id="selectObra1"
														value="#{mbeanReposicion.iReposicionBean.iclienteBean.listaObras}" var="obra"
														itemLabel="#{obra.nombre}"
														itemValue="#{obra.idObra}">
										</t:selectItems>
								</t:selectOneMenu>
							</td>
						</tr>
						<tr>
							<td class="lblFormularios">#{msg.direccion}:</td>
							<td class="dtsDesFormularios"><h:outputText value="#{mbeanReposicion.iReposicionBean.iobraBean.direccion}"></h:outputText></td>	
						</tr>
						<tr>
							<td class="lblFormularios">#{msg.telefono}:</td>
							<td class="dtsDesFormularios"> <h:outputText value="#{mbeanReposicion.iReposicionBean.iobraBean.telefono}"></h:outputText></td>		
								
			 			</tr>
		 			</table> <!--fin  tabla obra -->
				</td>
				<td>
					<table border="0">	<!-- tabla obra -->
			 			<tr>
			 				<td class="labelIDremision">#{msg.no_reposicion}</td>
						</tr>
						<tr>
							<td class="dtsDesFormularios">
								<h:outputText value="#{mbeanReposicion.iReposicionBean.idReposicion}"></h:outputText>
							</td>
							</tr>
					</table>
				</td>
			</tr>
	 	</table>	<!--fin  agrupacion de tabla cliente y obra -->
		
			<div class="tituloListado">#{msg.listadoProductos}</div>
			<div style="overflow-x:auto;">
	 		<t:dataTable id="tableid" value="#{mbeanReposicion.iReposicionBean.detalleReposiciones}"
				        var="detalle" rows="50" rowIndexVar="rowIndex"
				        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.producto}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.iproductoBean.codigo_producto}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.descripcion}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.iproductoBean.descripcion}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.cantidadAReponer}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.cantidad}" />
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputLabel value="#{msg.valor_unitario}">
				                	
				                </h:outputLabel>
				            </f:facet>
				            <h:outputLabel styleClass="formularioLabelCampoDerecha" value="#{detalle.precio_reposicion}" >
				           		 <f:convertNumber locale="es_CO" currencySymbol="$" type="currency" minFractionDigits="0"/>
							</h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputLabel value="#{msg.valor_total}">
				                	
				                </h:outputLabel>
				            </f:facet>
				            <h:outputLabel styleClass="formularioLabelCampoDerecha" value="#{detalle.precio_reposicion * detalle.cantidad}" >
				           		 <f:convertNumber locale="es_CO" currencySymbol="$" type="currency" minFractionDigits="0"/>
							</h:outputLabel>
				        </h:column>
				</t:dataTable>
				</div>
				<div align="right" style="padding-right:1ex;"> 	
					<br />
					<h:outputLabel class="lblFormularios" value="#{msg.total}" ></h:outputLabel> 
					<h:outputLabel class="lblFormularios" value="#{mbeanReposicion.iReposicionBean.total}" >
						<f:convertNumber currencySymbol="$" type="currency" minFractionDigits="0"/>
					</h:outputLabel>
					<br />
				</div>
				
				<div class="row"> 
					<div class="col-100">
						<h:commandButton value="#{msg.atras}" action="#{mbeanReposicionConsulta.buscarReposiciones}" />
						<h:commandLink styleClass="imprimir" target="_blank" value="Imprimir" action="#{mbeanReposicion.imprimir(mbeanReposicion.iReposicionBean)}" rendered="#{mbeanReposicion.onlyread}"/> 	
					</div>
				</div>	
	</div>
        	
    </ui:define>
 
</ui:composition>
