<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:dgt="http://www.trafico.es/taglib"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
		<ui:param name="tramite" value="Producto" />
		<ui:param name="consultaTitulo" value="Alta de Productos" />
	</ui:include>
	
	<t:saveState value="#{mbeanReferencia.listaTipoProducto}" id="idSavelistaTipoProducto" />
	<t:saveState value="#{mbeanReferencia.listaReferencia}" id="idSavelistaReferencia" />
	<t:saveState value="#{mbeanReferencia.ireferencia}" id="idSaveIReferencia" />
	
	<div class="contenedor"> 
		<div class="row">
			 <div class="col-50">
				 <div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.descripcion}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="descripcion" autocomplete="off"  styleClass="sizeInput100 mayusculas" value="#{mbeanReferencia.ireferencia.descripcion}" ></h:inputText>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.tipo_producto}:</label></div>
				 	<div class="col-75"> 
 						<t:selectOneMenu
								id="comboTipoProducto" readonly="false" forceId="true"
								value="#{mbeanReferencia.ireferencia.codTipoProductoSelect}"
								styleClass="sizeInput100 mayusculas">
							<f:selectItem  id="selectTipoProducto" itemValue="Seleccionar" itemLabel="Seleccionar" />
							<t:selectItems id="selectTipoProducto1"
											value="#{mbeanReferencia.listaTipoProducto}" var="tipoPro"
											itemLabel="#{tipoPro.descripcion}"
											itemValue="-#{tipoPro.cod_tipo_producto}">
							</t:selectItems>
					</t:selectOneMenu>
 					</div>
 				</div>	
 				 <div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.precio_alquiler}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="precio_alquiler" styleClass="sizeInput100 mayusculas" value="#{mbeanReferencia.ireferencia.precio_alquiler}" ></h:inputText>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.precio_reposicion}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="precio_reposicion" styleClass="sizeInput100 mayusculas" value="#{mbeanReferencia.ireferencia.precio_reposicion}" ></h:inputText>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.peso}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="peso" styleClass="sizeInput100 mayusculas" value="#{mbeanReferencia.ireferencia.peso}" ></h:inputText>
 					</div>
 				</div>
 			</div>
 		</div>		
 				
 		<div class="row"> 
			<div class="col-100">
 				<h:commandButton value="Guardar" action="#{mbeanReferencia.guardarReferencia}" rendered="#{!mbeanReferencia.ireferencia.editable}" />  
 				<h:commandButton value="Modificar" action="#{mbeanReferencia.editarReferencia}" rendered="#{mbeanReferencia.ireferencia.editable}"/> 
 				<h:commandButton value="Cancelar" action="#{mbeanReferencia.limpiarFormulario}"/> 
 			</div>
 		</div>
 			
 			
 		
  		<div>
 			
 		</div>
 		
 		<div class="row">
		 	<div class="col-100"> <label class="ttlAgrupacion">#{msg.filtro}:</label></div>
		</div>
		<div class="row">
		 	<div class="col-100"> <label class="lblFormularios">#{msg.descripcion}</label>
				<h:inputText autocomplete="off"  value="#{mbeanReferencia.filtro}">
 					<f:ajax event="keyup" render="tableid" listener="#{mbeanReferencia.obtenerReferenciasByDescripcion}" />
 				</h:inputText>
			</div>
		</div>	
		<div class="tituloListado ">#{msg.listadoReferencias}</div>
 		<div style="overflow-x:auto;">
 		<h:dataTable id="tableid" value="#{mbeanReferencia.listaReferencia}"
			        var="ref" rows="10" rowIndexVar="rowIndex"
			        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.codigo_interno}"></h:outputText>
			            </f:facet>
			            <h:outputLabel styleClass="formularioLabelCampo" value="#{ref.codigo_interno}"></h:outputLabel>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText class="formularioLabelCampo" value="#{msg.descripcion}"></h:outputText>
			            </f:facet>
    				    <h:outputText styleClass="formularioLabelCampo" value="#{ref.descripcion}" />
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText class="formularioLabelCampo" value="#{msg.tipo_producto}"></h:outputText>
			            </f:facet>
    				    <h:outputText styleClass="formularioLabelCampo" value="#{ref.tipo_producto.descripcion}" />
			        </h:column>
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.precio_alquiler}"></h:outputText>
			            </f:facet>
    				    <h:outputText styleClass="formularioLabelCampo" value="#{ref.precio_alquiler}">
    				    <f:convertNumber currencySymbol="$" type="currency" minFractionDigits="0"/>
    				    </h:outputText>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.precio_reposicion}"></h:outputText>
			            </f:facet>
    				    <h:outputText styleClass="formularioLabelCampo" value="#{ref.precio_reposicion}">  
    				    	<f:convertNumber currencySymbol="$" type="currency" minFractionDigits="0"/>
    				    </h:outputText>
			        </h:column>
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.borrar}"></h:outputText>
			            </f:facet>
			            <h:commandLink action="#{mbeanReferencia.deleteAction(ref)}" value="" onclick="if(!confirm('#{msg.confirmarborrar} #{ref.descripcion}?'))
						return false"><h:graphicImage url="/images/iconos/eliminar.png" styleClass="actioneditar" alt="Eliminar" /></h:commandLink>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.editar}"></h:outputText>
			            </f:facet>
			            <h:commandLink action="#{mbeanReferencia.editarAction(ref)}" > <h:graphicImage url="/images/iconos/lapiz.png" styleClass="actioneditar" alt="Editar"/></h:commandLink>
			            </h:column>
			</h:dataTable>
			</div>
			
			<div class="row"> 
				<div class="col-100">
					<h:commandLink styleClass="imprimir" target="#{msg.btn_imprimir}" value="Imprimir" action="#{mbeanReferencia.imprimirReferencias()}"/> 	
				</div>
			</div>
	</div>
        	
    </ui:define>
 
</ui:composition>
