<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:dgt="http://www.trafico.es/taglib"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
    
    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
		<ui:param name="tramite" value="Mantenimiento" />
		<ui:param name="consultaTitulo" value="Proveedores" />
	</ui:include>
	<t:saveState value="#{mbeanProveedor.listaTipoDocumento}" id="IdSavemListaTipoDocumento" />
	<t:saveState value="#{mbeanProveedor.listaProveedor}" id="IdSaveProveedorSeleccionado" />
	<t:saveState value="#{mbeanProveedor.listaCiudad}" id="IdSavelistaCiudad" />
	<t:saveState value="#{mbeanProveedor.iproveedor.editable}" id="IdSaveProveedorEditable" />
	<t:saveState value="#{mbeanProveedor.iproveedor}" id="IdSaveiProveedor" />
	
	
	
	
	<div class="contenedor"> 
		<div class="row">
			 <div class="col-50">
				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.documento}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="no_documento" autocomplete="off"  styleClass="#{mbeanProveedor.idError=='no_documento' ? 'alert-danger' : ''} lblFormulariosInput lblFormulariosInput sizeInput100 mayusculas" value="#{mbeanProveedor.iproveedor.no_documento}" validator="#{mbeanProveedor.validate}"></h:inputText>
 						<h:messages for="no_documento"></h:messages>
 					</div>
 				</div>	
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.tipo_documento}:</label></div>
					 	<div class="col-75"> 
	 					<t:selectOneMenu
									id="comboTipoDocumento" readonly="false" forceId="true"
									value="#{mbeanProveedor.iproveedor.tipoDocumentoSelect}"
									styleClass="lblFormulariosInput sizeInput100 mayusculas">
								<f:selectItem  id="selectTipoDocumento" itemValue="Seleccionar" itemLabel="Seleccionar" />
								<t:selectItems id="selectTipoDocumento1"
												value="#{mbeanProveedor.listaTipoDocumento}" var="tipoDoc"
												itemLabel="#{tipoDoc.descripcion}"
												itemValue="-#{tipoDoc.idTipoDocumento}">
								</t:selectItems>
						</t:selectOneMenu>
	 					<br><h:messages for="comboTipoDocumento"></h:messages></br>
	 				</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.ref}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="codigo" autocomplete="off"  styleClass="lblFormulariosInput sizeInput100 mayusculas" value="#{mbeanProveedor.iproveedor.codigo_proveedor}"></h:inputText>
 						<h:message for="codigo"></h:message>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.razon_social}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="razonSocial" autocomplete="off"  styleClass="#{mbeanProveedor.idError=='razonSocial' ? 'alert-danger' : ''} lblFormulariosInput sizeInput100 mayusculas" value="#{mbeanProveedor.iproveedor.razon_social}"> </h:inputText>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.direccion}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="apellido1" autocomplete="off"  styleClass="lblFormulariosInput sizeInput100 mayusculas" value="#{mbeanProveedor.iproveedor.direccion}"></h:inputText>
 						<h:message for="apellido1"></h:message>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.ciudad}:</label></div>
				 	<div class="col-75"> 
 						<t:selectOneMenu
								id="comboCiudad" readonly="false" forceId="true" value="#{mbeanProveedor.iproveedor.ciudadSelect}"
								styleClass="lblFormulariosInput sizeInput100 mayusculas">
							<f:selectItem  id="selectCiudad" itemValue="Seleccionar" itemLabel="Seleccionar" />
							<t:selectItems id="selectCiudad1"
											value="#{mbeanProveedor.listaCiudad}" var="ciudad"
											itemLabel="#{ciudad.nombre_ciudad}"
											itemValue="-#{ciudad.codigo_ciudad}">
							</t:selectItems>
					</t:selectOneMenu>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.telefono}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="telefono" autocomplete="off"  styleClass="lblFormulariosInput sizeInput100 mayusculas" value="#{mbeanProveedor.iproveedor.telefono}"></h:inputText>
 						<h:message for="telefono"></h:message>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.celular}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="celular" autocomplete="off"  styleClass="lblFormulariosInput sizeInput100 mayusculas" value="#{mbeanProveedor.iproveedor.celular}"></h:inputText>
 						<h:message for="celular"></h:message>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.email}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="correo" autocomplete="off"  styleClass="lblFormulariosInput sizeInput100 mayusculas" value="#{mbeanProveedor.iproveedor.email}"></h:inputText>
 						<h:message for="correo"></h:message>
 					</div>
 				</div>
 				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.habilitado}:</label></div>
				 	<div class="col-75"> 
 						<h:selectBooleanCheckbox autocomplete="off" styleClass="sizeInput100 lblFormulariosInput" value="#{mbeanProveedor.iproveedor.enabled}"/>
 					</div>
 				</div>
 			</div>
 		</div>			
 			
 			<div class="row"> 
					<div class="col-100">
 					<h:commandButton value="Guardar" action="#{mbeanProveedor.guardarProveedor}" rendered="#{!mbeanProveedor.iproveedor.editable}"/> 
 					<h:commandButton value="Modificar" action="#{mbeanProveedor.editarProveedor}" rendered="#{mbeanProveedor.iproveedor.editable}"/> 
 					<h:commandButton value="Cancelar" action="#{mbeanProveedor.limpiarFormulario}"/>  
 				</div>
 			</div>
 	
 		
	 		<div  class="tituloListado">#{msg.listadoProveedor}</div>
	 		<div style="overflow-x:auto;">
	 		<t:dataTable id="tableid" value="#{mbeanProveedor.listaProveedor}"
				        var="proveedor" rows="10" rowIndexVar="rowIndex"
				        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.documento}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{proveedor.no_documento}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.razon_social}"></h:outputText>
				            </f:facet>
	    				    <h:outputText value="#{proveedor.razon_social}" />
				        </h:column>
				         <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.ref}"></h:outputText>
				            </f:facet>
	    				    <h:outputText value="#{proveedor.codigo_proveedor}" />
				        </h:column>
				         <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.direccion}"></h:outputText>
				            </f:facet>
	    				    <h:outputText value="#{proveedor.direccion}" />
				        </h:column>
				        
				         <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.celular}"></h:outputText>
				            </f:facet>
	    				    <h:outputText value="#{proveedor.celular}"  />
				        </h:column>
				         <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.telefono}"></h:outputText>
				            </f:facet>
	    				    <h:outputText value="#{proveedor.telefono}" />
				        </h:column>
				        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.habilitado}"></h:outputText>
			            </f:facet>
			             <h:selectBooleanCheckbox readonly="true" value="#{proveedor.enabled}"/>
			        </h:column>
				         <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.borrar}"></h:outputText>
				            </f:facet>
				            <h:commandLink action="#{mbeanProveedor.deleteAction(proveedor)}" value="" onclick="if(!confirm('#{msg.confirmarborrar} #{proveedor.razon_social}?'))
							return false"><h:graphicImage url="/images/iconos/eliminar.png" styleClass="actioneditar" alt="Eliminar" /></h:commandLink>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.editar}"></h:outputText>
				            </f:facet>
				            <h:commandLink action="#{mbeanProveedor.editarAction(proveedor)}" >
				            	<h:graphicImage url="/images/iconos/lapiz.png" styleClass="actioneditar" alt="Editar" /> 
				            </h:commandLink>
			           
				        </h:column>
				</t:dataTable>
				</div>
		</div>
    </ui:define>
</ui:composition>
