<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:dgt="http://www.trafico.es/taglib"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
    
    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
		<ui:param name="tramite" value="#{msg.inicio}" />
		<ui:param name="consultaTitulo" value="#{msg.remision}" />
	</ui:include>
	
	<t:saveState value="#{mbeanRemision.listaCliente}" id="IdSaveListaCliente" />
	<t:saveState value="#{mbeanRemision.iRemisionBean.iclienteBean.listaObras}" id="IdSaveListaObras" />
	<t:saveState value="#{mbeanRemision.listaTipoProducto}" id="IdSaveListaTipoProductos" />
						
	<t:saveState value="#{mbeanRemision.iRemisionBean.listaProducto}" id="IdSaveListaProductos" />
	<t:saveState value="#{mbeanRemision.listaTransportador}" id="IdSavelistaTransportador" />
	
	<t:saveState value="#{mbeanRemision.iRemisionBean.iclienteBean}" id="IdSavecliente" />
	<t:saveState value="#{mbeanRemision.iRemisionBean.iobraBean}" id="IdSaveobra" />

	<t:saveState value="#{mbeanRemision.selectProducto}" id="IdSaveselectProducto" />
	<t:saveState value="#{mbeanRemision.clienteSelect}" id="IdSaveclienteSelect" />
	<t:saveState value="#{mbeanRemision.obraSelect}" id="IdSaveobraSelect" />
	<t:saveState value="#{mbeanRemision.codTipoProductoSelect}" id="IdSavecodTipoProductoSelect" />
	<t:saveState value="#{mbeanRemision.selectTransportador}" id="IdSaveselectTransportador" />
	
	<t:saveState value="#{mbeanRemision.iRemisionBean}" id="IdSaveiRemision" />
	<t:saveState value="#{mbeanRemision.mostrarDetalle}" id="IdSavemostrarDetalle" />
	<t:saveState value="#{mbeanRemision.iRemisionBean.detalleRemisions}" id="IdSavedetalleRemisions" />
	
	
	
	<div class="contenedor"> 
	   
		<t:div id ="listado" styleclass="row" rendered="#{mbeanRemision.onlyread}">
				 <div class="col-100"> <label class="labelIDremision">#{msg.no_remision}:</label>  
				 	<label class="labelIDremision">#{mbeanRemision.iRemisionBean.idRemision}</label>
				 </div>
		</t:div>
		 <div class="row">
			 <div class="col-50">
				<div class="col-15">
		        	<label class="lblFormularios">#{msg.fecha}:</label>
		      	</div>
		      	<div class="col-30">
			      <h:inputText id="fecha" autocomplete="off" value="#{mbeanRemision.iRemisionBean.fecha}" 
					converterMessage="La fecha debe ser en el formato dd/mm/yyyy" styleClass="sizeInput75 datepicker" alt="Fecha desde que se factura">  					
					<f:convertDateTime pattern="dd/MM/yyyy" /> 
					</h:inputText>
		      	</div>
		      	<div class="col-20">
		        	<label class="lblFormularios">#{msg.fecha_entrega}:</label>
		      	</div>
		      	<div class="col-25">
			      <h:inputText id="fechaOperacion" autocomplete="off" value="#{mbeanRemision.iRemisionBean.fecha_entrega}" 
					converterMessage="La fecha debe ser en el formato dd/mm/yyyy" styleClass="sizeInput100 datepicker">  					
					<f:convertDateTime pattern="dd/MM/yyyy" /> 
					</h:inputText>
		      	</div>
		     </div>
		 </div>  
		 <div class="row">
			 <div class="col-50">
				 <div class="row">
				 	<div class="col-100"> <label class="ttlAgrupacion">#{msg.datos_cliente}:</label></div>
				 </div>
				 <div class="row">
			     	<div class="col-15">
			      	  <label class="lblFormularios">#{msg.cliente}:</label>
			   		</div>
			       <div class="col-75">
				        <t:selectOneMenu
									id="comboTipoCliente" readonly="#{mbeanDevolucion.onlyread}" forceId="true"
									value="#{mbeanRemision.clienteSelect}"
									styleClass="sizeInput100 mayusculas" valueChangeListener="#{mbeanRemision.seleccionarCliente}" 
			                onchange="submit();" >
								<f:selectItem  id="selectCliente" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true" />
								<t:selectItems id="selectCliente1"
												value="#{mbeanRemision.listaCliente}" var="c"
												itemLabel="#{c.razon_social}"
												itemValue="#{c.id_cliente}">
								</t:selectItems>
						</t:selectOneMenu>
			       </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.nit}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanRemision.iRemisionBean.iclienteBean.id_cliente}"/>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.direccion}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanRemision.iRemisionBean.iclienteBean.direccion}"/>
			      </div>
			    </div>
			 </div>
			 <div class="col-50">
				<div class="row">
					 <div class="col-100"> <label class="ttlAgrupacion">#{msg.datos_obra}:</label></div>
				</div>
				<div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.obra}:</label>
			      </div>
			      <div class="col-75">
			        <t:selectOneMenu
								id="comboObra" readonly="false" forceId="true"
								value="#{mbeanRemision.obraSelect}"
								styleClass="sizeInput100 mayusculas" valueChangeListener="#{mbeanRemision.seleccionarObra}" 
	                		 onchange="submit();"  >
							<f:selectItem  id="selectObra" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true"  />
							<t:selectItems id="selectObra1"
											value="#{mbeanRemision.iRemisionBean.iclienteBean.listaObras}" var="obra"
											itemLabel="#{obra.nombre}"
											itemValue="-#{obra.idObra}">
							</t:selectItems>
					</t:selectOneMenu>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.direccion}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanRemision.iRemisionBean.iobraBean.direccion}"/>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.telefono}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanRemision.iRemisionBean.iobraBean.telefono}"/>
			      </div>
			    </div>
			</div>
		</div>

		<div class="row">
		 	<div class="col-100"> <label class="ttlAgrupacion">#{msg.datos_trasnporte}</label></div>
		 </div>
		 <div class="row">
			 <div class="col-50">
				 <div class="row">
					      <div class="col-15">
					        <label class="lblFormularios">#{msg.transportador}:</label>
					      </div>
					      <div class="col-75">
					      	<t:selectOneMenu
										id="comboTranportador" readonly="false" forceId="true" 
										value="#{mbeanRemision.selectTransportador}"
										styleClass="sizeInput100 mayusculas">
		                 			<f:selectItem  id="selectTranportador" itemValue="Seleccionar" itemLabel="Seleccionar" />
									<t:selectItems id="selectTranportador1"
													value="#{mbeanRemision.listaTransportador}" var="t"
													itemLabel="#{t.nombre}"
													itemValue="#{t.no_documento}">
									</t:selectItems>
							</t:selectOneMenu>
					      </div>
					</div>
				</div>
				<div class="col-50">
				 <div class="row">
					      <div class="col-15">
					        <label class="lblFormularios">#{msg.transporte}:</label>
					      </div>
					      <div class="col-75">
					      	<h:inputText autocomplete="off" styleClass="sizeInput100" value="#{mbeanRemision.iRemisionBean.transporte}"></h:inputText>
					      </div>
					</div>
				</div>
				<div class="col-50">
				 <div class="row">
					      <div class="col-15">
					        <label class="lblFormularios">#{msg.observaciones}:</label>
					      </div>
					      <div class="col-75">
					      	<h:inputTextarea styleClass="sizeInput100" value = "#{mbeanRemision.iRemisionBean.observaciones}"/>
					      </div>
					</div>
				</div>
			</div>  
			
			<div class="col-50">
				 <div class="row">
				 	<div class="col-100"> <label class="ttlAgrupacion">#{msg.productos}</label></div>
				 </div>
				 <div class="row">
			     	<div class="col-15">
			      	  <label class="lblFormularios">#{msg.tipo_producto}:</label>
			   		</div>
			       <div class="col-75">
				        <t:selectOneMenu
									id="comboTipoProducto" readonly="false" forceId="true"
									value="#{mbeanRemision.codTipoProductoSelect}"
									styleClass="sizeInput100 mayusculas" valueChangeListener="#{mbeanRemision.seleccionarTipoProducto}" 
	                  onchange="submit();" >
								<f:selectItem  id="selectTipoProducto" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true"/>
								<t:selectItems id="selectTipoProducto1"
												value="#{mbeanRemision.listaTipoProducto}" var="tipoPro"
												itemLabel="#{tipoPro.descripcion}"
												itemValue="-#{tipoPro.cod_tipo_producto}">
								</t:selectItems>
						</t:selectOneMenu>
			       </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.producto}:</label>
			      </div>
			      <div class="col-75">
			      				<t:selectOneMenu 
									id="comboProducto" readonly="false" forceId="true" 
									value="#{mbeanRemision.selectProducto}"
									styleClass="sizeInput100 mayusculas" valueChangeListener="#{mbeanRemision.seleccionarProducto}" 
	                  onchange="submit();" >
	                 			<f:selectItem  id="selectProducto" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true"/>
								<t:selectItems id="selectProducto1"
												value="#{mbeanRemision.iRemisionBean.listaProducto}" var="p"
												itemLabel="#{p.descripcion}"
												itemValue="-#{p.codigo_producto}">
								</t:selectItems>
						</t:selectOneMenu>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.stock}:</label>
			      </div>
			      <div class="col-75 fondoGris">
			   		   <h:outputText styleClass="lblFormulariosInput" value="#{mbeanRemision.iRemisionBean.producto.stock}"></h:outputText>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.cantidad}:</label>
			      </div>
			      <div class="col-75">
				      <h:inputText id="cantidad" autocomplete="off" styleClass="confondo sizeInput100" value="#{mbeanRemision.iRemisionBean.cantidad}" converterMessage="El campo solo acepta valores numericos"  immediate="false">
						<f:convertNumber/>
						</h:inputText>
				      </div>
			    </div>
			 </div>
			
			<div class="row"> <div class="col-100"><h:commandButton action="#{mbeanRemision.agregarAcarrito}" value="Agregar" > </h:commandButton></div></div>

					<div class="tituloListado">#{msg.listadoProductos}</div>
					<div style="overflow-x:auto;">
			 		<t:dataTable id="tableid" value="#{mbeanRemision.iRemisionBean.detalleRemisions}"
						        var="detalle" rows="10" rowIndexVar="rowIndex"
						        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
						        <h:column>
						            <f:facet name="header">
						                <h:outputText value="#{msg.producto}"></h:outputText>
						            </f:facet>
						            <h:outputLabel value="#{detalle.iproductoBean.codigo_producto}"></h:outputLabel>
						        </h:column>
						        <h:column>
						            <f:facet name="header">
						                <h:outputText value="#{msg.descripcion}"></h:outputText>
						            </f:facet>
						            <h:outputLabel value="#{detalle.iproductoBean.descripcion}"></h:outputLabel>
						        </h:column>
						        <h:column>
						            <f:facet name="header">
						                <h:outputText value="#{msg.cantidad}"></h:outputText>
						            </f:facet>
						            <h:outputLabel value="#{detalle.cantidad}"></h:outputLabel>
						        </h:column>
						        <h:column>
						            <f:facet name="header">
						                <h:outputText value="#{msg.peso}"></h:outputText>
						            </f:facet>
						            <h:outputLabel value="#{detalle.iproductoBean.referenciaBean.peso}"></h:outputLabel>
						        </h:column>
						</t:dataTable>
						</div>
						
				<div class="row"> 
					<div class="col-100">
							<h:commandButton value="Guardar" action="#{mbeanRemision.guardarRemision}" onclick="if(!confirm('#{msg.confirmarguardar}?'))
							return false" ajax="false"></h:commandButton> 	
							<h:commandButton value="Nuevo" action="#{mbeanRemision.nuevaRemision}" />
							<h:commandLink styleClass="imprimir" target="_blank" value="Imprimir" action="#{mbeanRemision.imprimir(mbeanRemision.iRemisionBean)}" rendered="#{mbeanRemision.onlyread}"/>
					</div>
				</div>
	
		</div>
        	
    </ui:define>
 
</ui:composition>
