<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:dgt="http://www.trafico.es/taglib"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
    
    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
		<ui:param name="tramite" value="#{msg.inicio}" />
		<ui:param name="consultaTitulo" value="#{msg.reposicion}" />
	</ui:include>
	
	<t:saveState value="#{mbeanReposicion.listaCliente}" id="IdSaveListaCliente" />
	<t:saveState value="#{mbeanReposicion.iReposicionBean.iclienteBean.listaObras}" id="IdSaveListaObras" />
	<t:saveState value="#{mbeanReposicion.listaTipoProducto}" id="IdSaveListaTipoProductos" />
						
	<t:saveState value="#{mbeanReposicion.iReposicionBean.listaProducto}" id="IdSaveListaProductos" />
	<t:saveState value="#{mbeanReposicion.listaTransportador}" id="IdSavelistaTransportador" />
	
	<t:saveState value="#{mbeanReposicion.iReposicionBean.iclienteBean}" id="IdSavecliente" />
	<t:saveState value="#{mbeanReposicion.iReposicionBean.iobraBean}" id="IdSaveobra" />

	<t:saveState value="#{mbeanReposicion.selectProducto}" id="IdSaveselectProducto" />
	<t:saveState value="#{mbeanReposicion.clienteSelect}" id="IdSaveclienteSelect" />
	<t:saveState value="#{mbeanReposicion.obraSelect}" id="IdSaveobraSelect" />
	<t:saveState value="#{mbeanReposicion.codTipoProductoSelect}" id="IdSavecodTipoProductoSelect" />
	<t:saveState value="#{mbeanReposicion.selectTransportador}" id="IdSaveselectTransportador" />
	
	<t:saveState value="#{mbeanReposicion.iReposicionBean}" id="IdSaveiReposicion" />
	<t:saveState value="#{mbeanReposicion.mostrarDetalle}" id="IdSavemostrarDetalle" />
	<t:saveState value="#{mbeanReposicion.iReposicionBean.detalleReposiciones}" id="IdSavedetalleReposiciones" />
	
	
	
	<div class="contenedor"> 
		<t:div id ="listado" styleclass="row" rendered="#{mbeanReposicion.onlyread}">
				 <div class="col-100"> <label class="labelIDremision">#{msg.no_reposicion}:</label>  
				 	<label class="labelIDremision">#{mbeanReposicion.iReposicionBean.idReposicion}</label>
				 </div>
		</t:div>
		 <div class="row">
			 <div class="col-50">
				<div class="col-15">
		        	<label class="lblFormularios">#{msg.fecha}:</label>
		      	</div>
		      	<div class="col-30">
			      <h:inputText id="fecha" autocomplete="off" value="#{mbeanReposicion.iReposicionBean.fecha}" 
					converterMessage="La fecha debe ser en el formato dd/mm/yyyy" styleClass="sizeInput75 datepicker">  					
					<f:convertDateTime pattern="dd/MM/yyyy" /> 
					</h:inputText>
		      	</div>
		     </div>
		    </div>
		<div class="row">
			 <div class="col-50">
				 <div class="row">
				 	<div class="col-100"> <label class="ttlAgrupacion">#{msg.datos_cliente}:</label></div>
				 </div>
				 <div class="row">
			     	<div class="col-15">
			      	  <label class="lblFormularios">#{msg.cliente}:</label>
			   		</div>
			       <div class="col-75">
				        <t:selectOneMenu
									id="comboTipoCliente" forceId="true"
									value="#{mbeanReposicion.clienteSelect}"
									styleClass="sizeInput100 mayusculas" valueChangeListener="#{mbeanReposicion.seleccionarCliente}" 
			                onchange="submit();" >
								<f:selectItem  id="selectCliente" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true" />
								<t:selectItems id="selectCliente1"
												value="#{mbeanReposicion.listaCliente}" var="c"
												itemLabel="#{c.razon_social}"
												itemValue="#{c.id_cliente}">
								</t:selectItems>
						</t:selectOneMenu>
			       </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.nit}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanReposicion.iReposicionBean.iclienteBean.id_cliente}"/>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.direccion}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanReposicion.iReposicionBean.iclienteBean.direccion}"/>
			      </div>
			    </div>
			 </div>
			 <div class="col-50">
				<div class="row">
					 <div class="col-100"> <label class="ttlAgrupacion">#{msg.datos_obra}:</label></div>
				</div>
				<div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.obra}:</label>
			      </div>
			      <div class="col-75">
			        <t:selectOneMenu
								id="comboObra" readonly="false" forceId="true"
								value="#{mbeanReposicion.obraSelect}"
								styleClass="sizeInput100 mayusculas" valueChangeListener="#{mbeanReposicion.seleccionarObra}" 
	                		 onchange="submit();"  >
							<f:selectItem  id="selectObra" itemValue="Seleccionar" itemLabel="Seleccionar" noSelectionOption="true"  />
							<t:selectItems id="selectObra1"
											value="#{mbeanReposicion.iReposicionBean.iclienteBean.listaObras}" var="obra"
											itemLabel="#{obra.nombre}"
											itemValue="#{obra.idObra}">
							</t:selectItems>
					</t:selectOneMenu>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.direccion}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanReposicion.iReposicionBean.iobraBean.direccion}"/>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-15">
			        <label class="lblFormularios">#{msg.telefono}:</label>
			      </div>
			      <div class="col-75 fondoGris"><h:outputText styleClass="lblFormulariosInput" value="#{mbeanReposicion.iReposicionBean.iobraBean.direccion}"/>
			      </div>
			    </div>
			</div>
		</div>
		<!--fin  agrupacion de tabla cliente y obra -->
		
			
			<div class="tituloListado">#{msg.listadoProductos}</div>
			<div style="overflow-x:auto;">
	 		<t:dataTable id="tableid" value="#{mbeanReposicion.iReposicionBean.detalleReposiciones}"
				        var="detalle" rows="50" rowIndexVar="rowIndex"
				        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.producto}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.iproductoBean.codigo_producto}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.descripcion}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.iproductoBean.descripcion}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.pendiente}"></h:outputText>
				            </f:facet>
				            <h:outputLabel value="#{detalle.pendiente}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.cantidadAReponer}"></h:outputText>
				            </f:facet>
				            <h:inputText value="#{detalle.cantidad}" />
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.valor_unitario}"></h:outputText>
				            </f:facet>
				            <h:inputText value="#{detalle.precio_reposicion}" />
				        </h:column>
				</t:dataTable>
				</div>
				<div class="row"> 
					<div class="col-100">
						<h:commandButton value="#{msg.btn_guardar}" action="#{mbeanReposicion.guardarReposicion}" onclick="if(!confirm('#{msg.confirmarguardar}?'))
									return false" ajax="false"></h:commandButton> 	
						<h:commandButton value="#{msg.btn_nuevo}" action="#{mbeanReposicion.nuevaReposicion}" />
						<h:commandLink styleClass="#{msg.btn_imprimir}" target="_blank"  value="#{msg.btn_imprimir}" action="#{mbeanReposicion.imprimir(mbeanReposicion.iReposicionBean)}" rendered="#{mbeanReposicion.onlyread}"/> 	
					</div>
				</div>
	</div>
        	
    </ui:define>
 
</ui:composition>
