<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:dgt="http://www.trafico.es/taglib"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
    
	    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
			<ui:param name="tramite" value="#{msg.saldo}" />
			<ui:param name="consultaTitulo" value="#{msg.clientesConSaldo}" />
		</ui:include>
		
		<t:saveState value="#{mbeanDevolucionConsulta.consultaBean.listaDevoluciones}" id="savelistaDevoluciones"></t:saveState>
		<t:saveState value="#{mbeanDevolucionConsulta.listaCliente}" id="savelistaCliente"></t:saveState>
		<div class="contenedor"> 
			
			<div class="tituloListado">#{msg.listadoSaldos}</div>
			<div style="overflow-x:auto;">
		 		<t:dataTable id="tableid" value="#{mbeanDevolucionConsulta.consultaBean.listaDevoluciones}"
					        var="devolucion" rows="10" rowIndexVar="rowIndex"
					        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
				       
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.nit}"></h:outputText>
				            </f:facet>
				            <h:outputLabel styleClass="formularioLabelCampo" value="#{devolucion.iobraBean.iclientebean.id_cliente}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.cliente}"></h:outputText>
				            </f:facet>
				            <h:outputLabel styleClass="formularioLabelCampo" value="#{devolucion.iobraBean.iclientebean.razon_social}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.obra}"></h:outputText>
				            </f:facet>
				            <h:outputLabel styleClass="formularioLabelCampo" value="#{devolucion.iobraBean.nombre}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.telefono}"></h:outputText>
				            </f:facet>
				            <h:outputLabel styleClass="formularioLabelCampo" value="#{devolucion.iobraBean.telefono}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.contacto}"></h:outputText>
				            </f:facet>
				            <h:outputLabel styleClass="formularioLabelCampo" value="#{devolucion.iobraBean.contacto}"></h:outputLabel>
				        </h:column>
				        <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.ver}"></h:outputText>
				            </f:facet>
				            <h:commandLink styleClass="actioneditar" action="#{mbeanDevolucion.verDetalleSaldos(devolucion)}" > 
				           		 <h:graphicImage url="/images/iconos/ojo.png" styleClass="actioneditar" alt="Ver detalle saldos" title="Ver detalle saldos"/>
				            </h:commandLink>
				        </h:column>
				</t:dataTable>
			</div>	
		</div>
        	
    </ui:define>
 
</ui:composition>
