<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:dgt="http://www.trafico.es/taglib"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	template="../plantillas/plantillaBase.xhtml">

	<ui:define name="contenido">

		<ui:include src="../plantillas/cabeceraPaginas.xhtml">
			<ui:param name="tramite"
				value="Inicio> Clientes con Equipo Pendiente" />
			<ui:param name="consultaTitulo" value="#{msg.saldoPendiente}" />
		</ui:include>

		<t:saveState value="#{mbeanDevolucion.iDevolucionBean.iclienteBean}"
			id="IdSavecliente" />
		<t:saveState value="#{mbeanDevolucion.iDevolucionBean.iobraBean}"
			id="IdSaveobra" />
		<t:saveState
			value="#{mbeanDevolucion.iDevolucionBean.detalleDevoluciones}"
			id="IdSavedetalleDevoluciones" />

		<div class="contenedor">
			<div class="row">
				<div class="col-50">
					<div class="row">
						<div class="col-100">
							<label class="ttlAgrupacion">#{msg.datos_cliente}:</label>
						</div>
					</div>
					<div class="row">
						<div class="col-15">
							<label class="lblFormularios">#{msg.cliente}:</label>
						</div>
						<div class="col-75">
							<h:outputText styleClass="lblFormulariosInput"
								value="#{mbeanDevolucion.iDevolucionBean.iobraBean.iclientebean.razon_social}" />
						</div>
					</div>
					<div class="row">
						<div class="col-15">
							<label class="lblFormularios">#{msg.nit}:</label>
						</div>
						<div class="col-75 fondoGris">
							<h:outputText styleClass="lblFormulariosInput"
								value="#{mbeanDevolucion.iDevolucionBean.iobraBean.iclientebean.id_cliente}" />
						</div>
					</div>
					<div class="row">
						<div class="col-15">
							<label class="lblFormularios">#{msg.direccion}:</label>
						</div>
						<div class="col-75 fondoGris">
							<h:outputText styleClass="lblFormulariosInput"
								value="#{mbeanDevolucion.iDevolucionBean.iobraBean.iclientebean.direccion}" />
						</div>
					</div>
				</div>
				<div class="col-50">
					<div class="row">
						<div class="col-100">
							<label class="ttlAgrupacion">#{msg.datos_obra}:</label>
						</div>
					</div>
					<div class="row">
						<div class="col-15">
							<label class="lblFormularios">#{msg.obra}:</label>
						</div>
						<div class="col-75">
							<h:outputText styleClass="lblFormulariosInput"
								value="#{mbeanDevolucion.iDevolucionBean.iobraBean.nombre}" />
						</div>
					</div>
					<div class="row">
						<div class="col-15">
							<label class="lblFormularios">#{msg.direccion}:</label>
						</div>
						<div class="col-75 fondoGris">
							<h:outputText styleClass="lblFormulariosInput"
								value="#{mbeanDevolucion.iDevolucionBean.iobraBean.direccion}" />
						</div>
					</div>
					<div class="row">
						<div class="col-15">
							<label class="lblFormularios">#{msg.telefono}:</label>
						</div>
						<div class="col-75 fondoGris">
							<h:outputText styleClass="lblFormulariosInput"
								value="#{mbeanDevolucion.iDevolucionBean.iobraBean.telefono}" />
						</div>
					</div>
				</div>
			</div>
			<div class="tituloListado">#{msg.listadoProductos}</div>
			<div style="overflow-x: auto;">
				<t:dataTable id="tableid"
					value="#{mbeanDevolucion.iDevolucionBean.detalleDevoluciones}"
					var="detalle" rows="50" rowIndexVar="rowIndex"
					rowClasses="trobg1,trobg2" styleClass="tablaResultado mayusculas"
					headerClass="employeeTableHeader">
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.producto}"></h:outputText>
						</f:facet>
						<h:outputLabel value="#{detalle.iproductoBean.codigo_producto}"></h:outputLabel>
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.descripcion}"></h:outputText>
						</f:facet>
						<h:outputLabel value="#{detalle.iproductoBean.descripcion}"></h:outputLabel>
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.pendiente}"></h:outputText>
						</f:facet>
						<h:outputLabel value="#{detalle.pendiente}"></h:outputLabel>
					</h:column>
				</t:dataTable>
			</div>

			<div class="row">
				<div class="col-100">
					<h:commandButton value="#{msg.atras}"
						action="#{mbeanDevolucionConsulta.iniciarConsultaSaldosPendientes}" />
					<h:commandLink styleClass="imprimir" target="_blank"
						value="#{msg.btn_imprimir}"
						action="#{mbeanDevolucion.imprimirSaldo(mbeanDevolucion.iDevolucionBean)}" />
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>
