<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:dgt="http://www.trafico.es/taglib"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	template="../plantillas/plantillaBase.xhtml">

	<ui:define name="contenido">

		<ui:include src="../plantillas/cabeceraPaginas.xhtml">
			<ui:param name="tramite" value="Incio" />
			<ui:param name="consultaTitulo" value="#{msg.salida}" />
		</ui:include>

		<t:saveState value="#{mbeanSalida.listaProveedor}"
			id="IdSaveListaProveedir" />
		<t:saveState value="#{mbeanSalida.iSalidaBean.listaProducto}"
			id="IdSaveListaProductos" />
		<t:saveState value="#{mbeanSalida.iSalidaBean.iproveedorBean}"
			id="IdSaveProveedor" />
		<t:saveState value="#{mbeanSalida.proveedorSelect}"
			id="IdSaveproveedorSelect" />
		<t:saveState value="#{mbeanSalida.iSalidaBean}" id="IdSaveiSalida" />
		<t:saveState value="#{mbeanSalida.mostrarDetalle}"
			id="IdSavemostrarDetalle" />
		<t:saveState value="#{mbeanSalida.iSalidaBean.detalleSalidas}"
			id="IdSavedetalleSalidas" />



		<div class="contenedor">

			<t:div id="listado" styleclass="row"
				rendered="#{mbeanSalida.onlyread}">
				<div class="col-100">
					<label class="labelIDremision">#{msg.no_salida}:</label> <label
						class="labelIDremision">#{mbeanSalida.iSalidaBean.idSalida}</label>
				</div>
			</t:div>
			<div class="row">
				<div class="col-50">
					<div class="col-15">
						<label class="lblFormularios">#{msg.fecha}:</label>
					</div>
					<div class="col-75">
						<h:inputText id="fecha" autocomplete="off"
							value="#{mbeanSalida.iSalidaBean.fecha}"
							converterMessage="La fecha debe ser en el formato dd/mm/yyyy"
							styleClass="sizeInput100 datepicker">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:inputText>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-50">
					<div class="row">
						<div class="col-100">
							<label class="ttlAgrupacion">#{msg.datos_cliente}:</label>
						</div>
					</div>
					<div class="row">
						<div class="col-15">
							<label class="lblFormularios">#{msg.proveedor}:</label>
						</div>
						<div class="col-75">
							<t:selectOneMenu id="comboProveedor" readonly="false"
								forceId="true"
								value="#{mbeanSalida.iSalidaBean.codProveedorSelect}"
								styleClass="sizeInput100 mayusculas"
								valueChangeListener="#{mbeanSalida.seleccionarProveedor}"
								onchange="submit();">
								<f:selectItem id="selectProveedor" itemValue="Seleccionar"
									itemLabel="Seleccionar" />
								<t:selectItems id="selectProveedor1"
									value="#{mbeanSalida.listaProveedor}" var="proveedor"
									itemLabel="#{proveedor.razon_social}"
									itemValue="#{proveedor.codigo_proveedor}">
								</t:selectItems>
							</t:selectOneMenu>
						</div>
					</div>

				</div>
			</div>

			<div class="tituloListado">#{msg.listadoProductos}</div>
			<div style="overflow-x: auto;">
				<t:dataTable id="tableid"
					value="#{mbeanSalida.iSalidaBean.detalleSalidas}" var="detalle"
					rows="10" rowIndexVar="rowIndex" rowClasses="trobg1,trobg2"
					styleClass="tablaResultado mayusculas"
					headerClass="employeeTableHeader">
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.producto}"></h:outputText>
						</f:facet>
						<h:outputLabel value="#{detalle.iproductoBean.codigo_producto}"></h:outputLabel>
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.descripcion}"></h:outputText>
						</f:facet>
						<h:outputLabel value="#{detalle.iproductoBean.descripcion}"></h:outputLabel>
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.pendiente}"></h:outputText>
						</f:facet>
						<h:outputLabel value="#{detalle.pendiente}"></h:outputLabel>
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.cantidad}"></h:outputText>
						</f:facet>
						<h:inputText value="#{detalle.cantidad}" />
					</h:column>
				</t:dataTable>
			</div>

			<div class="row">
				<div class="col-100">
					<h:commandButton value="Guardar"
						action="#{mbeanSalida.guardarSalida}"
						onclick="if(!confirm('#{msg.confirmarguardar}?'))
							return false"
						ajax="false"></h:commandButton>
					<h:commandButton value="Nuevo" action="#{mbeanSalida.nuevaSalida}" />
					<h:commandLink styleClass="imprimir" target="_blank"
						value="Imprimir"
						action="#{mbeanSalida.imprimir(mbeanSalida.iSalidaBean)}"
						rendered="#{mbeanSalida.onlyread}" />
				</div>
			</div>

		</div>

	</ui:define>

</ui:composition>
