<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:dgt="http://www.trafico.es/taglib"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
    
    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
		<ui:param name="tramite" value="Mantenimiento" />
		<ui:param name="consultaTitulo" value="Transportadores" />
	</ui:include>
	<t:saveState value="#{mbeanTransportador.listaTransportador}" id="IdSaveTransportadorSeleccionado" />
	<t:saveState value="#{mbeanTransportador.listaTipoDocumento}" id="IdSaveListaTipoDocumento" />
	<t:saveState value="#{mbeanTransportador.iTransportador.editable}" id="IdSaveTransportadorEditable" />
	<t:saveState value="#{mbeanTransportador.iTransportador}" id="IdSaveiTransportador" />
	
	
	
	<div class="contenedor"> 
		<div class="row">
			 <div class="col-100">
				<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.documento}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="no_documento" autocomplete="off"  styleClass="lblFormulariosInput sizeInput100 mayusculas" value="#{mbeanTransportador.iTransportador.no_documento}" validator="#{mbeanTransportador.validate}"></h:inputText>
 					<h:message for="no_documento"></h:message>
 					</div>
	 			</div>
	 			<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.tipo_documento}:</label></div>
				 	<div class="col-75"> 
 						<t:selectOneMenu
								id="comboTipoDocumento" readonly="false" forceId="true"
								value="#{mbeanTransportador.iTransportador.tipoDocumentoSelect}"
								styleClass="lblFormulariosInput sizeInput100 mayusculas" >
							<f:selectItem  id="selectTipoDocumento" itemValue="0" itemLabel="Seleccionar" />
							<t:selectItems id="selectTipoDocumento1"
											value="#{mbeanTransportador.listaTipoDocumento}" var="tipoDoc"
											itemLabel="#{tipoDoc.descripcion}"
											itemValue="-#{tipoDoc.idTipoDocumento}">
							</t:selectItems>
					</t:selectOneMenu>
 					<h:message for="comboTipoDocumento"></h:message>
 					</div>
	 			</div>
	 			<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.nombre}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="nombre" autocomplete="off"  value="#{mbeanTransportador.iTransportador.nombre}" styleClass="lblFormulariosInput sizeInput100 mayusculas"></h:inputText>
 						<h:message for="nombre"></h:message>
 					</div>
	 			</div>
	 			<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.placa}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="placa" autocomplete="off"  value="#{mbeanTransportador.iTransportador.placa}" styleClass="lblFormulariosInput sizeInput100 mayusculas"></h:inputText>
 					<h:message for="placa"></h:message>
 					</div>
	 			</div>
	 			<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.descripcion_vehiculo}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="descripcion" autocomplete="off"  value="#{mbeanTransportador.iTransportador.descripcion}" styleClass="lblFormulariosInput sizeInput100 mayusculas"></h:inputText>
 						<h:message for="descripcion"></h:message>
 					</div>
	 			</div>
	 			<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.direccion}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="apellido1" autocomplete="off"  value="#{mbeanTransportador.iTransportador.direccion}" styleClass="lblFormulariosInput sizeInput100 mayusculas"></h:inputText>
 					</div>
	 			</div>
	 			<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.telefono}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="telefono" autocomplete="off"  styleClass="lblFormulariosInput sizeInput100 mayusculas" value="#{mbeanTransportador.iTransportador.telefono}"></h:inputText>
 					</div>
	 			</div>
	 			<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.celular}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="celular" autocomplete="off"  styleClass="lblFormulariosInput sizeInput100 mayusculas" value="#{mbeanTransportador.iTransportador.celular}"></h:inputText>
 					</div>
	 			</div>
	 			<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.email}:</label></div>
				 	<div class="col-75"> 
 						<h:inputText id="correo" autocomplete="off"  value="#{mbeanTransportador.iTransportador.email}" styleClass="lblFormulariosInput sizeInput100 mayusculas"></h:inputText>
 					</div>
	 			</div>
	 			<div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.habilitado}:</label></div>
				 	<div class="col-75"> 
 						<h:selectBooleanCheckbox autocomplete="off" styleClass="sizeInput100 lblFormulariosInput" value="#{mbeanTransportador.iTransportador.enabled}"/>
 					</div>
	 			</div>
	 		</div>
	 	</div>			
		<div class="row"> 
			<div class="col-100">
				<h:commandButton value="Nuevo" action="#{mbeanTransportador.guardarTransportador}" rendered="#{!mbeanTransportador.iTransportador.editable}"/> 
				<h:commandButton value="Modificar" action="#{mbeanTransportador.editarTransportador}" rendered="#{mbeanTransportador.iTransportador.editable}"/> 
				<h:commandButton value="Cancelar" action="#{mbeanTransportador.limpiarFormulario}"/>  
			</div>
		</div>	
		
 		<div class="tituloListado">#{msg.listadoTransportador}</div>
 		<div style="overflow-x:auto;">
 		<t:dataTable id="tableid" value="#{mbeanTransportador.listaTransportador}"
			        var="transportador" rows="10" rowIndexVar="rowIndex"
			        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.documento}"></h:outputText>
			            </f:facet>
			            <h:outputLabel value="#{transportador.no_documento}"></h:outputLabel>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.nombre}"></h:outputText>
			            </f:facet>
<!-- 			            <h:inputText value="#{transportador.nombre}" size="10" rendered="#{transportador.editable}" /> -->
<!--     				    <h:outputText value="#{transportador.nombre}" rendered="#{not transportador.editable}" /> -->
 							<h:outputText value="#{transportador.nombre}" />
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.placa}"></h:outputText>
			            </f:facet>
<!-- 			            <h:inputText value="#{transportador.placa}" size="10" rendered="#{transportador.editable}" /> -->
    				    <h:outputText value="#{transportador.placa}" />
			        </h:column>
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.direccion}"></h:outputText>
			            </f:facet>
<!-- 			            <h:inputText value="#{transportador.direccion}" size="10" rendered="#{transportador.editable}" /> -->
    				    <h:outputText value="#{transportador.direccion}" />
			        </h:column>
			        
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.celular}"></h:outputText>
			            </f:facet>
<!-- 			            <h:inputText value="#{transportador.celular}" size="10" rendered="#{transportador.editable}" /> -->
    				    <h:outputText value="#{transportador.celular}" />
			        </h:column>
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.telefono}"></h:outputText>
			            </f:facet>
<!-- 			            <h:inputText value="#{transportador.telefono}" size="10" rendered="#{transportador.editable}" /> -->
    				    <h:outputText value="#{transportador.telefono}" />
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.habilitado}"></h:outputText>
			            </f:facet>
			             <h:selectBooleanCheckbox readonly="true" value="#{transportador.enabled}"/>
			        </h:column>
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.borrar}"></h:outputText>
			            </f:facet>
			            <h:commandLink action="#{mbeanTransportador.deleteAction(transportador)}" value="" onclick="if(!confirm('#{msg.confirmarborrar} #{transportador.nombre}?'))
						return false"><h:graphicImage url="/images/iconos/eliminar.png" styleClass="actioneditar" alt="Eliminar"/></h:commandLink>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.editar}"></h:outputText>
			            </f:facet>
			                    
			            <h:commandLink styleClass="actioneditar" action="#{mbeanTransportador.editarAction(transportador)}" > 
			           		 <h:graphicImage url="/images/iconos/lapiz.png" styleClass="actioneditar" alt="Editar" />
			            </h:commandLink>
			            </h:column>
			</t:dataTable>
			</div>
	</div>
        	
    </ui:define>
 
</ui:composition>
