<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
    
    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
		<ui:param name="tramite" value="#{msg.usuario}" />
		<ui:param name="consultaTitulo" value="#{msg.gestion_de_usuario}" />
	</ui:include>

	
	<t:saveState value="#{mbeanUsuario.listaUsuario}" id="IdSavecitaSeleccionada" />
	<t:saveState value="#{mbeanUsuario.iusuario}" id="IdSavecitaiusuario" />
		
		<div class="contenedor">
		<div class="row">
			<div class="col-50">
<!-- 				<div class="row"> -->
<!-- 					<div class="col-15"> -->
<!-- 					        <label class="lblFormularios">#{msg.codigo}:</label> -->
<!-- 					</div> -->
<!-- 					<div class="col-75"><h:inputHidden styleClass="sizeInput100 lblFormulariosInput" value="#{mbeanUsuario.iusuario.codigo}"/></div> -->
<!-- 				</div> -->
				<div class="row">
					<div class="col-15">
					        <label class="lblFormularios">#{msg.nombre}:</label>
					</div>
					<div class="col-75"><h:inputText autocomplete="off"  styleClass="sizeInput100 lblFormulariosInput" value="#{mbeanUsuario.iusuario.nombre}" /></div>
				</div>
				<div class="row">
					<div class="col-15">
					        <label class="lblFormularios">#{msg.apellido}:</label>
					</div>
					<div class="col-75"><h:inputText autocomplete="off"  styleClass="sizeInput100 lblFormulariosInput" value="#{mbeanUsuario.iusuario.apellido}"/>
				</div>
				<div class="row">
					<div class="col-15">
					        <label class="lblFormularios">#{msg.telefono}:</label>
					</div>
					<div class="col-75"><h:inputText autocomplete="off" styleClass="sizeInput100 lblFormulariosInput" value="#{mbeanUsuario.iusuario.telefono}"/></div>
				</div>
				<div class="row">
					<div class="col-15">
					        <label  for="username" class="lblFormularios">#{msg.usuario}:</label>
					</div>
					<div class="col-75"><h:inputText id="username"  autocomplete="off" styleClass="sizeInput100 lblFormulariosInput" value="#{mbeanUsuario.iusuario.username}"/>
					<h:message for="username"></h:message></div></div>
				</div>
				<div class="row">
					<div class="col-15">
					        <label class="lblFormularios">#{msg.clave}:</label>
					</div>
					<div class="col-75"><h:inputSecret autocomplete="off" styleClass="sizeInput100 lblFormulariosInput" value="#{mbeanUsuario.iusuario.clave}"/></div>
				</div>
				<div class="row">
					<div class="col-15">
					        <label class="lblFormularios">#{msg.habilitado}:</label>
					</div>
					<div class="col-75"><h:selectBooleanCheckbox autocomplete="off" styleClass="sizeInput100 lblFormulariosInput" value="#{mbeanUsuario.iusuario.enabled}"/></div>
				</div>
			</div>
			<div class="col-50">
				<h:selectManyCheckbox value="#{mbeanUsuario.iusuario.rolesSelect}">
	   			<f:selectItems value="#{mbeanUsuario.roles}" var="role"
	   			itemLabel="#{role.authority}" itemValue="#{role.id}" />
	   		</h:selectManyCheckbox>
	   		</div>
		</div>	
		<div class="row"> 
			<div class="col-100">
				<h:commandButton value="#{msg.crear_usuario}" action="#{mbeanUsuario.guardarUsuario}" />
			</div>
		</div>
		<div class="row">
		 	<div class="col-100"> <label class="ttlAgrupacion">#{msg.filtro}:</label></div>
		</div>
		<div class="row">
		 	<div class="col-100"> <label class="lblFormularios">#{msg.documento}</label>
				<h:inputText id="documento" autocomplete="off" value="#{mbeanUsuario.iusuario.codigoBuscado}">
				<f:ajax event="keyup" render="tableid" listener="#{mbeanUsuario.buscarUsuario}" />
				</h:inputText>
			</div>
		</div>	
		
		<div class="tituloListado">#{msg.listadoUsuarios}</div>
		<div style="overflow-x:auto;">
	 		<t:dataTable id="tableid" value="#{mbeanUsuario.listaUsuario}"
			        var="usuario" rows="10" rowIndexVar="rowIndex"
			        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="codigo"></h:outputText>
			            </f:facet>
			            <h:outputLabel value="#{usuario.codigo}"></h:outputLabel>
			        </h:column>
			
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.nombre}"></h:outputText>
			            </f:facet>
			            <h:inputText styleClass="sizeInput100 mayusculas" value="#{usuario.nombre}" size="10" rendered="#{usuario.editable}" />
    				    <h:outputText value="#{usuario.nombre}" rendered="#{not usuario.editable}" />
			        </h:column>
			        
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.apellido}"></h:outputText>
			            </f:facet>
			            <h:inputText styleClass="sizeInput100 mayusculas" value="#{usuario.apellido}" size="10" rendered="#{usuario.editable}" />
    				    <h:outputText value="#{usuario.apellido}" rendered="#{not usuario.editable}" />
			        </h:column>
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.telefono}"></h:outputText>
			            </f:facet>
			             <h:inputText styleClass="sizeInput100 mayusculas" value="#{usuario.telefono}" size="10" rendered="#{usuario.editable}" />
    				     <h:outputText value="#{usuario.telefono}" rendered="#{not usuario.editable}" />
			        </h:column>
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.usuario}"></h:outputText>
			            </f:facet>
			             <h:inputText styleClass="sizeInput100 mayusculas" value="#{usuario.username}" size="10" rendered="#{usuario.editable}" />
    				     <h:outputText value="#{usuario.username}" rendered="#{not usuario.editable}" />
			        </h:column>
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.habilitado}"></h:outputText>
			            </f:facet>
			             <h:selectBooleanCheckbox value="#{usuario.enabled}" rendered="#{usuario.editable}" />
			             <h:selectBooleanCheckbox readonly="#{not usuario.editable}" value="#{usuario.enabled}" rendered="#{not usuario.editable}" />
			        </h:column>
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="Borrar"></h:outputText>
			            </f:facet>
			            <h:commandLink action="#{mbeanUsuario.deleteAction(usuario)}" value="" > <h:graphicImage url="/images/iconos/eliminar.png" styleClass="actioneditar" alt ="Eliminar" onclick="if(!confirm('#{msg.confirmarborrar} #{usuario.username}?'))
						return false"/></h:commandLink>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="Editar"></h:outputText>
			            </f:facet>
			            <h:commandLink action="#{mbeanUsuario.editarAction(usuario)}" value="" rendered="#{not usuario.editable}" > <h:graphicImage url="/images/iconos/lapiz.png" styleClass="actioneditar" alt="Editar"/></h:commandLink>
			             <h:commandLink action="#{mbeanUsuario.cancelarEditarAction(usuario)}" value="cancelar" rendered="#{usuario.editable}" > </h:commandLink>
			            </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="Ver"></h:outputText>
			            </f:facet>
			            <h:commandLink action="#{mbeanUsuario.writePDF()}" value="" ><h:graphicImage url="/images/iconos/ojo.png" styleClass="actioneditar" alt ="Ver"/> </h:commandLink>
			        </h:column>
			</t:dataTable>
		</div>
		<div class="row"> 
			<div class="col-100">
				<h:commandButton value="#{msg.guardar_cambios}" action="#{mbeanUsuario.saveAction}" />
			</div>	
        </div>	
    </div>
</ui:define>
 
</ui:composition>
