<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:dgt="http://www.trafico.es/taglib"
				xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../plantillas/plantillaBase.xhtml">

    <ui:define name="contenido">
    
    <ui:include src="../plantillas/cabeceraPaginas.xhtml">
		<ui:param name="tramite" value="Mantenimiento" />
		<ui:param name="consultaTitulo" value="Vincular Obra a Clientes" />
	</ui:include>
	<t:saveState value="#{mbeanObra.editable}" id="IdSaveObraEditable" />
	<t:saveState value="#{mbeanObra.verListado}" id="IdSaveverListado" />
	<t:saveState value="#{mbeanObra.listaObra}" id="IdSaveListaObra" />
	<t:saveState value="#{mbeanObra.listaCliente}" id="IdSaveListaCliente" />
	
	
	
	
	<div class="contenedor"> 
	
		<div class="row">
			 <div class="col-50">
				 <div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.cliente}:</label></div>
				 	<div class="col-75"> 
				 		<t:selectOneMenu
								id="comboTipoCliente" readonly="false" forceId="true"
								value="#{mbeanObra.iCliente.clienteSelect}"
								styleClass="sizeInput100 mayusculas" valueChangeListener="#{mbeanObra.seleccionarCliente}" 
                 				 onchange="submit();" >
							<f:selectItem  id="selectCliente" itemValue="0" itemLabel="Seleccionar" />
							<t:selectItems id="selectCliente1"
											value="#{mbeanObra.listaCliente}" var="c"
											itemLabel="#{c.razon_social}"
											itemValue="#{c.id_cliente}">
							</t:selectItems>
						</t:selectOneMenu>
					</div>
				 </div>
				  <div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.nombreObra}:</label></div>
				 	<div class="col-75"> 
				 		<h:inputText autocomplete="off" id="razon_social" value="#{mbeanObra.iObra.nombre}" validator="#{mbeanObra.validate}" styleClass="sizeInput100 mayusculas"></h:inputText>
	 					<br><h:message for="razon_social"></h:message></br>
	 					<h:inputHidden value="#{mbeanObra.iObra.idObra}" />
					</div>
				 </div>
				  <div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.direccion}:</label></div>
				 	<div class="col-75"> 
				 		<h:inputText id="direccion" autocomplete="off" value="#{mbeanObra.iObra.direccion}" styleClass="sizeInput100 mayusculas"></h:inputText>
					</div>
				 </div>
				 <div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.telefono}:</label></div>
				 	<div class="col-75"> 
				 		<h:inputText id="telefono" autocomplete="off" value="#{mbeanObra.iObra.telefono}" styleClass="sizeInput100 mayusculas"></h:inputText>
					</div>
				 </div>
				 <div class="row">
				 	<div class="col-15"> <label class="lblFormularios">#{msg.contacto}:</label></div>
				 	<div class="col-75"> 
				 		<h:inputText id="contacto" autocomplete="off" value="#{mbeanObra.iObra.contacto}" styleClass="sizeInput100 mayusculas"></h:inputText>
					</div>
				 </div>
				 <div class="row">
					<div class="col-15">
					        <label class="lblFormularios">#{msg.habilitado}:</label>
					</div>
					<div class="col-75"><h:selectBooleanCheckbox autocomplete="off" styleClass="sizeInput100 lblFormulariosInput" value="#{mbeanObra.iObra.enabled}"/></div>
				</div>
				 
			</div>
		</div>		 
		<div class="row"> 
			<div class="col-100">
				<h:commandButton value="Nuevo" action="#{mbeanObra.vincularObraCliente}" rendered="#{!mbeanObra.editable}"/> 
				<h:commandButton value="Modificar" action="#{mbeanObra.editarObra}" rendered="#{mbeanObra.editable}"/> 
				<h:commandButton value="Cancelar" action="#{mbeanObra.limpiarFormulario}"/>  
 			</div>
 		</div>	
 		<t:div id ="listado" rendered="#{mbeanObra.verListado}">
 			<div class="tituloListado">#{msg.listadoCliente}</div>
 			<div style="overflow-x:auto;">
 			<t:dataTable id="tableid" value="#{mbeanObra.listaObra}"
			        var="obra" rows="10" rowIndexVar="rowIndex"
			        rowClasses="trobg1,trobg2" styleClass ="tablaResultado mayusculas" headerClass = "employeeTableHeader">
			   
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.obra}"></h:outputText>
			            </f:facet>
			            <h:outputText value="#{obra.nombre}" />
			            
			        </h:column>
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.direccion}"></h:outputText>
			            </f:facet>
			            <h:outputText value="#{obra.direccion}"  />
			        </h:column>
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.contacto}"></h:outputText>
			            </f:facet>
			            <h:outputText value="#{obra.contacto}"/>
			        </h:column>
				    <h:column>
				            <f:facet name="header">
				                <h:outputText value="#{msg.telefono}"></h:outputText>
				            </f:facet>
				            <h:outputText value="#{obra.telefono}" />
				     </h:column>
			          <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.habilitado}"></h:outputText>
			            </f:facet>
			             <h:selectBooleanCheckbox readonly="true" value="#{obra.enabled}"/>
			        </h:column>
			         <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.borrar}"></h:outputText>
			            </f:facet>
			            <h:commandLink action="#{mbeanObra.deleteAction(obra)}" value="" onclick="if(!confirm('#{msg.confirmarborrar} #{obra.nombre} - #{obra.idObra}?'))
						return false">
						 <h:graphicImage url="/images/iconos/eliminar.png" alt="Eliminar" styleClass="actioneditar" />
						</h:commandLink>
			        </h:column>
			        <h:column>
			            <f:facet name="header">
			                <h:outputText value="#{msg.editar}"></h:outputText>
			            </f:facet>
			            <h:commandLink action="#{mbeanObra.editarAction(obra)}" value="">
			            	 <h:graphicImage url="/images/iconos/lapiz.png" styleClass="actioneditar" alt="Editar"/>
			             </h:commandLink>
			         </h:column>
			</t:dataTable>
			</div>
		</t:div>		
	</div>
        	
    </ui:define>
 
</ui:composition>
