<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:dgt="http://www.trafico.es/taglib"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	template="../plantillas/plantillaBase.xhtml">

	<ui:define name="contenido">
		<ui:include src="../plantillas/cabeceraPaginas.xhtml">
			<ui:param name="tramite" value="#{msg.producto}" />
			<ui:param name="consultaTitulo"
				value="Vincular producto a proveedores" />
		</ui:include>

		<t:saveState value="#{mbeanProducto.listaProveedor}"
			id="idSavelistaProveedor" />
		<t:saveState value="#{mbeanProducto.listaReferencia}"
			id="idSavelistaReferencia" />
		<t:saveState value="#{mbeanProducto.listaProducto}"
			id="idSavelistaProducto" />
		<div class="contenedor">
			<div class="row">
				<div class="col-50">
					<div class="row">
						<div class="col-15">
							<label class="lblFormularios">#{msg.producto}:</label>
						</div>
						<div class="col-75">
							<t:selectOneMenu id="comboReferencia" readonly="false"
								forceId="true"
								value="#{mbeanProducto.iproducto.codReferenciaSelect}"
								styleClass="sizeInput100 mayusculas">
								<f:selectItem id="selectReferencia" itemValue="Seleccionar"
									itemLabel="Seleccionar" />
								<t:selectItems id="selectReferencia1"
									value="#{mbeanProducto.listaReferencia}" var="ref"
									itemLabel="#{ref.descripcion}"
									itemValue="-#{ref.codigo_interno}">
								</t:selectItems>
							</t:selectOneMenu>
						</div>
					</div>
					<div class="row">
						<div class="col-15">
							<label class="lblFormularios">#{msg.proveedor}:</label>
						</div>
						<div class="col-75">
							<t:selectOneMenu id="comboProveedor" readonly="false"
								forceId="true"
								value="#{mbeanProducto.iproducto.codProveedorSelect}"
								styleClass="sizeInput100 mayusculas">
								<f:selectItem id="selectProveedor" itemValue="Seleccionar"
									itemLabel="Seleccionar" />
								<t:selectItems id="selectProveedor1"
									value="#{mbeanProducto.listaProveedor}" var="proveedor"
									itemLabel="#{proveedor.razon_social}"
									itemValue="#{proveedor.no_documento}">
								</t:selectItems>
							</t:selectOneMenu>
						</div>
					</div>
					<div class="row">
						<div class="col-15">
							<label class="lblFormularios">#{msg.stock}:</label>
						</div>
						<div class="col-75">
							<h:inputText id="stock" value="#{mbeanProducto.iproducto.stock}"
								styleClass="sizeInput100 mayusculas"></h:inputText>
						</div>
					</div>
					<div class="row">
						<div class="col-15">
							<label class="lblFormularios">#{msg.precio_subarriendo}:</label>
						</div>
						<div class="col-75">
							<h:inputText id="subarriendo"
								value="#{mbeanProducto.iproducto.subarriendo}"
								styleClass="sizeInput100 mayusculas"></h:inputText>
						</div>
					</div>
					<div class="row">
						<div class="col-15">
							<label class="lblFormularios">#{msg.minimo}:</label>
						</div>
						<div class="col-75">
							<h:inputText id="minimo"
								value="#{mbeanProducto.iproducto.minimo}"
								styleClass="sizeInput100 mayusculas"></h:inputText>
						</div>
					</div>
					<div class="row">
						<div class="col-15">
							<label class="lblFormularios">#{msg.maximo}:</label>
						</div>
						<div class="col-75">
							<h:inputText id="maximo"
								value="#{mbeanProducto.iproducto.maximo}"
								styleClass="sizeInput100 mayusculas"></h:inputText>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-100">
					<h:commandButton value="Guardar"
						action="#{mbeanProducto.guardarProducto}" />
				</div>
			</div>

			<div class="row">
				<div class="col-100">
					<label class="ttlAgrupacion">#{msg.filtro}:</label>
				</div>
			</div>
			<div class="row">
				<div class="col-100">
					<label class="lblFormularios">#{msg.descripcion}</label>
					<h:inputText autocomplete="off"  value="#{mbeanProducto.filtro}">
						<f:ajax event="keyup" render="tableid"
							listener="#{mbeanProducto.obtenerProductosByDescripcion}" />
					</h:inputText>
				</div>
			</div>
			<div class="tituloListado ">#{msg.listadoProductos}</div>
			<div></div>
			<div style="overflow-x: auto;">
				<t:dataTable id="tableid" value="#{mbeanProducto.listaProducto}"
					var="producto" rows="10" rowIndexVar="rowIndex"
					rowClasses="trobg1,trobg2" styleClass="tablaResultado mayusculas"
					headerClass="employeeTableHeader">
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.codigo_producto}"></h:outputText>
						</f:facet>
						<h:outputLabel styleClass="formularioLabelCampo"
							value="#{producto.codigo_producto}"></h:outputLabel>
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText class="formularioLabelCampo"
								value="#{msg.descripcion}"></h:outputText>
						</f:facet>
						<h:outputText styleClass="formularioLabelCampo"
							value="#{producto.descripcion}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText class="formularioLabelCampo"
								value="#{msg.tipo_producto}"></h:outputText>
						</f:facet>
						<h:outputText styleClass="formularioLabelCampo"
							value="#{producto.referenciaBean.tipo_producto.descripcion}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText class="formularioLabelCampo"
								value="#{msg.proveedor}"></h:outputText>
						</f:facet>
						<h:outputText styleClass="formularioLabelCampo"
							value="#{producto.proveedor.razon_social}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.stock}"></h:outputText>
						</f:facet>
						<h:outputText styleClass="formularioLabelCampo"
							value="#{producto.stock}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.borrar}"></h:outputText>
						</f:facet>
						<h:commandLink action="#{mbeanProducto.deleteAction(producto)}"
							value=""
							onclick="if(!confirm('#{msg.confirmarborrar} #{producto.descripcion}?'))
						return false">
							<h:graphicImage url="/images/iconos/eliminar.png"
								styleClass="actioneditar" alt="Eliminar" />
						</h:commandLink>
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="#{msg.editar}"></h:outputText>
						</f:facet>
						<t:commandLink action="#{mbeanProducto.editarAction(producto)}">
							<h:graphicImage url="/images/iconos/lapiz.png"
								styleClass="actioneditar" alt="Editar" />
						</t:commandLink>
					</h:column>
				</t:dataTable>
			</div>
			<!-- 			<t:dataScroller id="dataScrollerId" for="tableid" fastStep="10" -->
			<!-- 			        pageIndexVar="pageIndex" renderFacetsIfSinglePage="true" -->
			<!-- 			        pageCountVar="pageCount" paginator="true" paginatorMaxPages="9" -->
			<!-- 			        immediate="true" paginatorActiveColumnStyle="font-weight:bold;" styleClass="paginador"> -->
			<!-- 			       <f:facet name="first"> -->
			<!-- 			             <h:graphicImage alt="Inicio" url="/images/general/flechas-dobles-izquierda-gris.png" styleClass="paginadorflechas" /> -->
			<!-- 			        </f:facet> -->
			<!-- 			        <f:facet name="last"> -->
			<!-- 			            <h:graphicImage alt="Ultimo" url="/images/general/flechas-dobles-derecha-gris.png" styleClass="paginadorflechas" /> -->
			<!-- 			        </f:facet> -->
			<!-- 			        <f:facet name="previous"> -->
			<!-- 			             <h:graphicImage alt="Atras" url="/images/general/flecha-izquierda-gris-pequena.png" styleClass="paginadorflechas" /> -->
			<!-- 			        </f:facet> -->
			<!-- 			        <f:facet name="next"> -->
			<!-- 			       		 <h:graphicImage alt="siguiente" url="/images/general/flecha-derecha-gris-pequena.png" styleClass="paginadorflechas"/> -->
			<!-- 			        </f:facet> -->
			<!-- 			</t:dataScroller> 	 -->
		</div>

	</ui:define>

</ui:composition>
